---
<center><h1>Basic intro to pandas</h1></center>

<center><h2>Work with pandas DataFrames: filtering, indexing and missing data</h2></center>
---

## Table of Contents

- [Work with pandas DataFrames: filtering, indexing and missing data](#Work-with-pandas-DataFrames:-filtering,-indexing-and-missing-data)
    * [Get basic information](#Get-basic-information)
    * [Conditional indexing and selection](#Conditional-indexing-and-selection)
    * [Work with indexes and MultiIndex option](#Work-with-indexes-and-MultiIndex-option)
    * [Selection by label and position](#Selection-by-label-and-position)
    * [Work with missing data](#Work-with-missing-data)
    - [*Exercise 1*](#Exercise-1)

In [190]:
import pandas as pd
import numpy as np
import random

## Work with pandas DataFrames: filtering, indexing and missing data

[[back to top]](#Table-of-Contents)

In this part we will continue our acquaintance with DataFrames and will get to know 
1.	how to get basic information about DataFrame and its content;
2.	how to get a segment of a Dataframe and select rows from DataFrame, which satisfy some conditions;
3.	how to change indexes in DataFrame and make advanced indexing;
4.	how to select any rows by its indexes, labels and positions;
5.	how to work with missing data.

Thus, we will divide the whole text of this lesson into logic constructed code blocks with respect to mentioned above points. In the following posts we will continue our learning of pandas and will consider its other features.

In [191]:
url="https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.csv"
eqPastMonth=pd.read_csv(url)
eqPastMonth.head(10)

                       time   latitude  ...  locationSource  magSource
0  2021-02-17T04:25:59.180Z  35.763168  ...              nc         nc
1  2021-02-17T04:23:30.820Z  38.819332  ...              nc         nc
2  2021-02-17T04:20:41.210Z  33.598667  ...              ci         ci
3  2021-02-17T03:58:33.367Z -17.637800  ...              us         us
4  2021-02-17T03:36:18.420Z  37.275700  ...              nn         nn
5  2021-02-17T03:36:07.740Z  38.448900  ...              us         us
6  2021-02-17T03:27:43.060Z  38.835834  ...              nc         nc
7  2021-02-17T03:25:29.491Z -25.098400  ...              us         us
8  2021-02-17T03:24:15.431Z  59.827800  ...              ak         ak
9  2021-02-17T02:58:09.380Z  18.779100  ...              pr         pr

[10 rows x 22 columns]

### Get basic information

[[back to top]](#Table-of-Contents)

pandas has a set of functions for getting basic information about DataFrame:

Lets take a look on type of `eqPastMonth` columns

In [192]:
eqPastMonth.dtypes

time                object
latitude           float64
longitude          float64
depth              float64
mag                float64
magType             object
nst                float64
gap                float64
dmin               float64
rms                float64
net                 object
id                  object
updated             object
place               object
type                object
horizontalError    float64
depthError         float64
magError           float64
magNst             float64
status              object
locationSource      object
magSource           object
dtype: object

You may notice that the dtype forthe time column is by default of type "object" meaning a string.  You can change this by using the apply function which allows one to apply a function to every row in series or dataframe. A "lambda" is a shorthand way to write your own function.

In [193]:
eqPastMonth['datetime'] = eqPastMonth['time'].apply(lambda x: (datetime.datetime.strptime(x, '%Y-%m-%dT%H:%M:%S.%fZ')))
eqPastMonth.head(5)

                       time   latitude  ...  magSource                datetime
0  2021-02-17T04:25:59.180Z  35.763168  ...         nc 2021-02-17 04:25:59.180
1  2021-02-17T04:23:30.820Z  38.819332  ...         nc 2021-02-17 04:23:30.820
2  2021-02-17T04:20:41.210Z  33.598667  ...         ci 2021-02-17 04:20:41.210
3  2021-02-17T03:58:33.367Z -17.637800  ...         us 2021-02-17 03:58:33.367
4  2021-02-17T03:36:18.420Z  37.275700  ...         nn 2021-02-17 03:36:18.420

[5 rows x 23 columns]

Notice the new "datetime" column.  It of time datetime.

In [194]:
eqPastMonth.dtypes

time                       object
latitude                  float64
longitude                 float64
depth                     float64
mag                       float64
magType                    object
nst                       float64
gap                       float64
dmin                      float64
rms                       float64
net                        object
id                         object
updated                    object
place                      object
type                       object
horizontalError           float64
depthError                float64
magError                  float64
magNst                    float64
status                     object
locationSource             object
magSource                  object
datetime           datetime64[ns]
dtype: object

You can also see basic statistics about the DataFrame‚Äôs numeric columns

In [195]:
eqPastMonth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10620 entries, 0 to 10619
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             10620 non-null  object
 1   latitude         10620 non-null  float64
 2   longitude        10620 non-null  float64
 3   depth            10620 non-null  float64
 4   mag              10620 non-null  float64
 5   magType          10620 non-null  object
 6   nst              6919 non-null   float64
 7   gap              8113 non-null   float64
 8   dmin             7172 non-null   float64
 9   rms              10619 non-null  float64
 10  net              10620 non-null  object
 11  id               10620 non-null  object
 12  updated          10620 non-null  object
 13  place            10620 non-null  object
 14  type             10620 non-null  object
 15  horizontalError  7074 non-null   float64
 16  depthError       10619 non-null  float64
 17  magError         7449 non-null   float64
 18  magNst           7828 non-null   float64
 19  status           10620 non-null  object
 20  locationSource   10620 non-null  object
 21  magSource        10620 non-null  object
 22  datetime         10620 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(12), object(10)
memory usage: 1.9+ MB

Method `info()` shows (top down)
+ that `eqPastMonth` is an instance of DataFrame‚Äôs class; this information we have obtained with help of function `type()`;
+ number of rows in DataFrame;
+ type of each column and number of non-null rows in this column; this information in a shorted view was given by `dtypes`;
+ memory size of the DataFrame etc.
method `describe()` allows to quickly get average, minimal and maximal values, standard deviation etc. in each DataFrame column with numeric items

In [196]:
eqPastMonth.describe()

           latitude     longitude  ...     magError       magNst
count  10620.000000  10620.000000  ...  7449.000000  7828.000000
mean      38.057262   -111.559760  ...     0.240811    15.951456
std       20.091340     66.637466  ...     0.389112    28.485505
min      -64.756300   -179.989900  ...     0.000000     0.000000
25%       33.381708   -150.112700  ...     0.106000     5.000000
50%       38.158350   -118.932000  ...     0.162000     9.000000
75%       53.578300   -115.638542  ...     0.230000    18.000000
max       85.081800    179.649100  ...     5.190000   620.000000

[8 rows x 12 columns]

### Conditional indexing and selection

[[back to top]](#Table-of-Contents)

As we said above DataFrame is a group of Series objects. This allows you to select specific column (a Series) from the DataFrame (in this case you get a Series) or a few columns (in this case you get another DataFrame)

In [197]:
eqPastMonth_mag = eqPastMonth['mag']
# Here we are showing only one column, i.e. a Series
print ('type:', type(eqPastMonth_mag))
eqPastMonth_mag.head(10)

type: <class 'pandas.core.series.Series'>

0    1.91
1    1.18
2    0.86
3    5.00
4    1.20
5    5.50
6    0.91
7    4.40
8    2.10
9    2.96
Name: mag, dtype: float64

In [198]:
eqPastMonth_record = eqPastMonth[['time','depth', 'mag', 'place']]
# Here we are showing four columns, i.e. a new DataFrame
print ('type:', type(eqPastMonth_record))
eqPastMonth_record.tail()

type: <class 'pandas.core.frame.DataFrame'>

                           time  ...                                place
10615  2021-01-18T04:55:20.700Z  ...           7 km ENE of PƒÅhala, Hawaii
10616  2021-01-18T04:51:51.831Z  ...      87 km SSE of Sand Point, Alaska
10617  2021-01-18T04:49:26.600Z  ...  6 km ENE of Government Camp, Oregon
10618  2021-01-18T04:48:52.780Z  ...  6 km ENE of Government Camp, Oregon
10619  2021-01-18T04:43:45.240Z  ...          5km W of Morongo Valley, CA

[5 rows x 4 columns]

You can also refer to one column in such way

In [199]:
eqPastMonth_record.time

0        2021-02-17T04:25:59.180Z
1        2021-02-17T04:23:30.820Z
2        2021-02-17T04:20:41.210Z
3        2021-02-17T03:58:33.367Z
4        2021-02-17T03:36:18.420Z
                   ...
10615    2021-01-18T04:55:20.700Z
10616    2021-01-18T04:51:51.831Z
10617    2021-01-18T04:49:26.600Z
10618    2021-01-18T04:48:52.780Z
10619    2021-01-18T04:43:45.240Z
Name: time, Length: 10620, dtype: object

Filtered DataFrames can be obtained by using of logic operators

In [200]:
# Let's display only large earthquakes
eqPastMonth_large = eqPastMonth[eqPastMonth['mag'] > 5]
eqPastMonth_large.head(10)

                         time  latitude  ...  magSource                datetime
5    2021-02-17T03:36:07.740Z   38.4489  ...         us 2021-02-17 03:36:07.740
100  2021-02-16T19:09:41.237Z   -2.8881  ...         us 2021-02-16 19:09:41.237
131  2021-02-16T15:54:07.766Z  -18.8866  ...         us 2021-02-16 15:54:07.766
180  2021-02-16T09:55:32.318Z   52.0601  ...         us 2021-02-16 09:55:32.318
189  2021-02-16T08:42:11.806Z   -6.0804  ...         us 2021-02-16 08:42:11.806
194  2021-02-16T08:07:23.479Z  -15.6949  ...         us 2021-02-16 08:07:23.479
203  2021-02-16T06:42:01.809Z  -13.3581  ...         us 2021-02-16 06:42:01.809
233  2021-02-16T03:37:11.369Z  -17.9892  ...         us 2021-02-16 03:37:11.369
252  2021-02-16T01:31:59.756Z  -17.8082  ...         us 2021-02-16 01:31:59.756
255  2021-02-16T01:22:19.619Z  -17.6551  ...         us 2021-02-16 01:22:19.619

[10 rows x 23 columns]

In [201]:
#Getting records that are large (>5mag) earthquakes and that occurred in the northern hemisphere
filtered_df_1 = eqPastMonth[(eqPastMonth['mag'] > 5 ) & (eqPastMonth['latitude'] > 0)]
filtered_df_1.describe()

        latitude   longitude       depth  ...  depthError   magError      magNst
count  40.000000   40.000000   40.000000  ...   40.000000  39.000000   39.000000
mean   28.124350   72.432125   58.690250  ...    3.926500   0.060667   96.743590
std    16.418430   99.664015   93.880675  ...    1.875015   0.020691  155.272887
min     1.279500 -179.314200    7.160000  ...    0.700000   0.023000   10.000000
25%    14.310225   40.542625   10.000000  ...    1.900000   0.048000   20.000000
50%    28.781350  122.535400   35.390000  ...    4.050000   0.060000   34.000000
75%    38.599450  141.417000   67.267500  ...    5.500000   0.071500   88.500000
max    57.122600  169.271500  587.690000  ...    7.800000   0.098000  620.000000

[8 rows x 12 columns]

In [202]:
#Getting records that are large (>5mag) earthquakes and that occurred in the western hemisphere, but not after 120 w longitude, also filter columns in output
filtered_df_2 = eqPastMonth[(eqPastMonth['mag'] > 5 ) & (eqPastMonth['longitude'] < 0) & (eqPastMonth['longitude'] > -120)][['depth', 'mag', 'place']]
filtered_df_2.head(10)

       depth  mag                                            place
670    35.00  5.1                60 km SSW of La Gomera, Guatemala
815    30.87  5.2                       54 km SW of Iquique, Chile
989    71.44  5.3                       22 km W of Celica, Ecuador
1772   48.67  5.2                      25 km WSW of Illapel, Chile
1942   10.00  5.7                        central East Pacific Rise
2421   10.63  5.1                                    northern Peru
2525  103.95  5.1           4 km ENE of Santa Rita de Siguas, Peru
4599   10.00  6.7                                  West Chile Rise
5576    7.22  5.6                      82 km SSE of Lethem, Guyana
5816  168.65  5.1  63 km W of San Antonio de los Cobres, Argentina

You can also use the method `isin(range)` for checking the presence of Series items in range, method `isnull()` for define `null` (`NaN`) values and boolean operators `&` (`AND`) and `|` (`OR`) in complicated conditions.

As you can see after filtering result tables (i.e. DataFrames) have non-ordered indexes. To fix this trouble you may write the following:

In [203]:
filtered_df_2.reset_index().head(10)

   index   depth  mag                                            place
0    670   35.00  5.1                60 km SSW of La Gomera, Guatemala
1    815   30.87  5.2                       54 km SW of Iquique, Chile
2    989   71.44  5.3                       22 km W of Celica, Ecuador
3   1772   48.67  5.2                      25 km WSW of Illapel, Chile
4   1942   10.00  5.7                        central East Pacific Rise
5   2421   10.63  5.1                                    northern Peru
6   2525  103.95  5.1           4 km ENE of Santa Rita de Siguas, Peru
7   4599   10.00  6.7                                  West Chile Rise
8   5576    7.22  5.6                      82 km SSE of Lethem, Guyana
9   5816  168.65  5.1  63 km W of San Antonio de los Cobres, Argentina

to start indexing form 0 and regularize it.

Also remember that you can add new columns and rows to the DataFrame:

In [204]:
#set new custom_score column and fill it with empty strings
eqPastMonth['custom_mag'] = ''
eqPastMonth['custom_mag'] = np.where(eqPastMonth['mag'] < 5, 'Small', "Large")
eqPastMonth.head(10)

                       time   latitude  ...                datetime  custom_mag
0  2021-02-17T04:25:59.180Z  35.763168  ... 2021-02-17 04:25:59.180       Small
1  2021-02-17T04:23:30.820Z  38.819332  ... 2021-02-17 04:23:30.820       Small
2  2021-02-17T04:20:41.210Z  33.598667  ... 2021-02-17 04:20:41.210       Small
3  2021-02-17T03:58:33.367Z -17.637800  ... 2021-02-17 03:58:33.367       Large
4  2021-02-17T03:36:18.420Z  37.275700  ... 2021-02-17 03:36:18.420       Small
5  2021-02-17T03:36:07.740Z  38.448900  ... 2021-02-17 03:36:07.740       Large
6  2021-02-17T03:27:43.060Z  38.835834  ... 2021-02-17 03:27:43.060       Small
7  2021-02-17T03:25:29.491Z -25.098400  ... 2021-02-17 03:25:29.491       Small
8  2021-02-17T03:24:15.431Z  59.827800  ... 2021-02-17 03:24:15.431       Small
9  2021-02-17T02:58:09.380Z  18.779100  ... 2021-02-17 02:58:09.380       Small

[10 rows x 24 columns]

### Work with indexes and MultiIndex option

[[back to top]](#Table-of-Contents)

Pandas allows to set specific indexes to a DataFrame. It can be defined at creating of a DataFrame:

In [205]:
import random
indexes = [random.randrange(0,100) for i in range(5)]
data = [{i:random.randint(0,10) for i in 'ABCDE'} for i in range(5)]
df = pd.DataFrame(data, index=indexes)
df

    A  B  C  D   E
40  1  8  1  6   8
97  4  7  9  2   2
45  9  8  3  0  10
66  4  9  0  9   7
87  5  2  7  1  10

Or be change any time

In [206]:
df.index = ['a', 'b', 'c', 'd', 'e']
df

   A  B  C  D   E
a  1  8  1  6   8
b  4  7  9  2   2
c  9  8  3  0  10
d  4  9  0  9   7
e  5  2  7  1  10

There is the possibility to select any column (one or more) as index column

In [207]:
# if duplicates exist you can drop duplicates to get unique values
#eqPastMonth_nodups = eqPastMonth.drop_duplicates(subset='time', keep='last')
# we don't need to do that.
# set 'time' as index
eqPastMonth_indexChange = eqPastMonth.set_index('time')
eqPastMonth_indexChange.head(10)

                           latitude  ...  custom_mag
time                                 ...
2021-02-17T04:25:59.180Z  35.763168  ...       Small
2021-02-17T04:23:30.820Z  38.819332  ...       Small
2021-02-17T04:20:41.210Z  33.598667  ...       Small
2021-02-17T03:58:33.367Z -17.637800  ...       Large
2021-02-17T03:36:18.420Z  37.275700  ...       Small
2021-02-17T03:36:07.740Z  38.448900  ...       Large
2021-02-17T03:27:43.060Z  38.835834  ...       Small
2021-02-17T03:25:29.491Z -25.098400  ...       Small
2021-02-17T03:24:15.431Z  59.827800  ...       Small
2021-02-17T02:58:09.380Z  18.779100  ...       Small

[10 rows x 23 columns]

By default, `set_index()` returns a new DataFrame, so you‚Äôll have to specify if you‚Äôd like the changes to occur in place.

Let‚Äôs create a many levels index for `filtered_df_2` DataFrame

In [208]:
# set 'id' & 'type' as index
eqPastMonth_multi = eqPastMonth.set_index(['id','type'])[["latitude","longitude","depth","mag", "place"]]
eqPastMonth_multi.head(10)

                          latitude  ...                              place
id           type                   ...
nc73524166   earthquake  35.763168  ...             6km NNW of Cholame, CA
nc73524156   earthquake  38.819332  ...                  4km W of Cobb, CA
ci39553703   earthquake  33.598667  ...               13km WNW of Anza, CA
us6000diah   earthquake -17.637800  ...                            Vanuatu
nn00800559   earthquake  37.275700  ...         24 km ESE of Alamo, Nevada
us6000diae   earthquake  38.448900  ...         16 km N of Kam√°rai, Greece
nc73524141   earthquake  38.835834  ...                6km WNW of Cobb, CA
us6000diaa   earthquake -25.098400  ...         64 km WNW of Taltal, Chile
ak02127fq4w8 earthquake  59.827800  ...  26 km WNW of Anchor Point, Alaska
pr2021048001 earthquake  18.779100  ...   34 km N of San Juan, Puerto Rico

[10 rows x 5 columns]

and see the type of `eqPastMonth_multi.index()`

In [209]:
print ('type: ', type(eqPastMonth_multi.index))

type:  <class 'pandas.core.indexes.multi.MultiIndex'>

Thus, we get a new pandas class MultiIndex, which contains information about indexing of DataFrame and allows manipulating with this data. It‚Äôs interesting what is the type of `filtered_df_2.index()`?

You can get levels, labels and names values simply address it as to an attribute

### Selection by label and position
[[back to top]](#Table-of-Contents)

After reading previous three subparagraphs probably you have the question: Ok, I know now filter a DataFrame, how make it multi-indexed, but I don‚Äôt know how select any specific row in the table.
Object selection in pandas is now supported by two types of multi-axis indexing.

* `.loc` works on labels in the index;
* `.iloc` works on the positions in the index (so it only takes integers);

    
The sequence of the following examples demonstrates how we can manipulate with DataFrame‚Äôs rows.
At first let‚Äôs get the first row of equakes in the past month.

In [210]:
#To return a single record(i.e. row), in this case the first one.
eqPastMonth.loc[0]

time                 2021-02-17T04:25:59.180Z
latitude                            35.763168
longitude                         -120.329834
depth                                    9.28
mag                                      1.91
magType                                    md
nst                                      17.0
gap                                      90.0
dmin                                  0.01278
rms                                      0.08
net                                        nc
id                                 nc73524166
updated              2021-02-17T04:27:35.667Z
place                  6km NNW of Cholame, CA
type                               earthquake
horizontalError                          0.38
depthError                               0.52
magError                                 0.16
magNst                                    4.0
status                              automatic
locationSource                             nc
magSource                                  nc
datetime           2021-02-17 04:25:59.180000
custom_mag                              Small
Name: 0, dtype: object

and rows from 1 to 3 (pay attention on setting of ranges in `.loc`, the right boundary is included to this range which IS different than Python lists and string data structures)

In [211]:
eqPastMonth.loc[1:3]

                       time   latitude  ...                datetime  custom_mag
1  2021-02-17T04:23:30.820Z  38.819332  ... 2021-02-17 04:23:30.820       Small
2  2021-02-17T04:20:41.210Z  33.598667  ... 2021-02-17 04:20:41.210       Small
3  2021-02-17T03:58:33.367Z -17.637800  ... 2021-02-17 03:58:33.367       Large

[3 rows x 24 columns]

As you can see the first argument of `.loc` corresponds to index name. If you want return value of specific column(s), you should to define the name of this(these) column(s)

In [212]:
eqPastMonth.loc[0, 'place']

'6km NNW of Cholame, CA'

In [213]:
eqPastMonth.loc[:, ['place', 'mag']].head()

                        place   mag
0      6km NNW of Cholame, CA  1.91
1           4km W of Cobb, CA  1.18
2        13km WNW of Anza, CA  0.86
3                     Vanuatu  5.00
4  24 km ESE of Alamo, Nevada  1.20

Let‚Äôs repeat that the first argument of `.loc` is not row number but name of the index for this row

But if it is necessary to obtain rows by it number you may use `.iloc`

In [214]:
eqPastMonth.iloc[0]

time                 2021-02-17T04:25:59.180Z
latitude                            35.763168
longitude                         -120.329834
depth                                    9.28
mag                                      1.91
magType                                    md
nst                                      17.0
gap                                      90.0
dmin                                  0.01278
rms                                      0.08
net                                        nc
id                                 nc73524166
updated              2021-02-17T04:27:35.667Z
place                  6km NNW of Cholame, CA
type                               earthquake
horizontalError                          0.38
depthError                               0.52
magError                                 0.16
magNst                                    4.0
status                              automatic
locationSource                             nc
magSource                                  nc
datetime           2021-02-17 04:25:59.180000
custom_mag                              Small
Name: 0, dtype: object

In [215]:
eqPastMonth.iloc[1:5]

                       time   latitude  ...                datetime  custom_mag
1  2021-02-17T04:23:30.820Z  38.819332  ... 2021-02-17 04:23:30.820       Small
2  2021-02-17T04:20:41.210Z  33.598667  ... 2021-02-17 04:20:41.210       Small
3  2021-02-17T03:58:33.367Z -17.637800  ... 2021-02-17 03:58:33.367       Large
4  2021-02-17T03:36:18.420Z  37.275700  ... 2021-02-17 03:36:18.420       Small

[4 rows x 24 columns]

In the first case column‚Äôs number coincides with its name. The second example demonstrates the difference between `.loc` and `.iloc`

In [216]:
eqPastMonth.loc[1:5]

                       time   latitude  ...                datetime  custom_mag
1  2021-02-17T04:23:30.820Z  38.819332  ... 2021-02-17 04:23:30.820       Small
2  2021-02-17T04:20:41.210Z  33.598667  ... 2021-02-17 04:20:41.210       Small
3  2021-02-17T03:58:33.367Z -17.637800  ... 2021-02-17 03:58:33.367       Large
4  2021-02-17T03:36:18.420Z  37.275700  ... 2021-02-17 03:36:18.420       Small
5  2021-02-17T03:36:07.740Z  38.448900  ... 2021-02-17 03:36:07.740       Large

[5 rows x 24 columns]

### Work with missing data

[[back to top]](#Table-of-Contents)

Pandas primarily uses the value `np.nan` to represent missing data (in table missed/empty value are marked by `NaN`). It is by default not included in computations. Missing data creates many issues at mathematical or computational tasks with DataFrames and Series and it‚Äôs important to know how fight with these values.

Previously we have learned how to check `null` and `non-null` values in the DataFrame and Series and how to miss `null` row in the table. But what to do if we need to use rows with `null` data, for example, find sum of all values in the dataset?

Let‚Äôs try do this

In [217]:
magError = eqPastMonth['magError']
sum(magError)

nan

The result is unexpected because there many `non-null` values in `eqPastMonth['magError']` Series. Sure, we could filter `magError['magError']`  and remain only `non-null` values. But what if we need sum all numerical values in `magError`? This way will be powerless or too complicated, because we will drop all row items even there is only one `null` value in this row. You can try to do this yourself.

To solve the assigned task you may use an elegant pandas method `fillna(value)`, which replace all `null` values by value.

In [218]:
magError = eqPastMonth['magError'] .fillna(0)
sum(magError)

1793.8011018308189

In [219]:
eqPastMonth_fillna = eqPastMonth.fillna(0)
eqPastMonth_fillna.head(10)

                       time   latitude  ...                datetime  custom_mag
0  2021-02-17T04:25:59.180Z  35.763168  ... 2021-02-17 04:25:59.180       Small
1  2021-02-17T04:23:30.820Z  38.819332  ... 2021-02-17 04:23:30.820       Small
2  2021-02-17T04:20:41.210Z  33.598667  ... 2021-02-17 04:20:41.210       Small
3  2021-02-17T03:58:33.367Z -17.637800  ... 2021-02-17 03:58:33.367       Large
4  2021-02-17T03:36:18.420Z  37.275700  ... 2021-02-17 03:36:18.420       Small
5  2021-02-17T03:36:07.740Z  38.448900  ... 2021-02-17 03:36:07.740       Large
6  2021-02-17T03:27:43.060Z  38.835834  ... 2021-02-17 03:27:43.060       Small
7  2021-02-17T03:25:29.491Z -25.098400  ... 2021-02-17 03:25:29.491       Small
8  2021-02-17T03:24:15.431Z  59.827800  ... 2021-02-17 03:24:15.431       Small
9  2021-02-17T02:58:09.380Z  18.779100  ... 2021-02-17 02:58:09.380       Small

[10 rows x 24 columns]

Thus, we replace all `NaN` items to `0`. If `inplace=True` in `fillna()` method, then a DataFrame renew.
   
To remain only rows with `non-null` values you can use method `dropna()`

In [220]:
eqPastMonth_fillna = eqPastMonth.dropna(0)
eqPastMonth_fillna.head(10)

                        time   latitude  ...                datetime  custom_mag
0   2021-02-17T04:25:59.180Z  35.763168  ... 2021-02-17 04:25:59.180       Small
1   2021-02-17T04:23:30.820Z  38.819332  ... 2021-02-17 04:23:30.820       Small
2   2021-02-17T04:20:41.210Z  33.598667  ... 2021-02-17 04:20:41.210       Small
6   2021-02-17T03:27:43.060Z  38.835834  ... 2021-02-17 03:27:43.060       Small
9   2021-02-17T02:58:09.380Z  18.779100  ... 2021-02-17 02:58:09.380       Small
10  2021-02-17T02:57:34.400Z  32.687667  ... 2021-02-17 02:57:34.400       Small
14  2021-02-17T02:28:56.390Z  17.924800  ... 2021-02-17 02:28:56.390       Small
21  2021-02-17T02:02:34.040Z  38.837502  ... 2021-02-17 02:02:34.040       Small
23  2021-02-17T01:55:03.670Z  38.821667  ... 2021-02-17 01:55:03.670       Small
24  2021-02-17T01:54:56.420Z  38.824501  ... 2021-02-17 01:54:56.420       Small

[10 rows x 24 columns]

We can manipulate by `null` values and columns using parameters subset and how to set analyzing columns and type of analysis respectively

> ### Exercise 1

> - Get type of `‚Äúlatitude‚Äù` column in `eqPastMonth`. 

> - In `eqPastMonth` find all rows where `magType` corresponds to the value `"md"` and where `mag` is less `5` and `not-null` `magError`. Call the obtained DataFrmae as `eqPastMonth_md_large`.

In [221]:
# type your code here

In [222]:
eqPastMonth['datetime'] = eqPastMonth['time'].apply(lambda x: (datetime.datetime.strptime(x, '%Y-%m-%dT%H:%M:%S.%fZ')))
eqPastMonth.head(5)

                       time   latitude  ...                datetime  custom_mag
0  2021-02-17T04:25:59.180Z  35.763168  ... 2021-02-17 04:25:59.180       Small
1  2021-02-17T04:23:30.820Z  38.819332  ... 2021-02-17 04:23:30.820       Small
2  2021-02-17T04:20:41.210Z  33.598667  ... 2021-02-17 04:20:41.210       Small
3  2021-02-17T03:58:33.367Z -17.637800  ... 2021-02-17 03:58:33.367       Large
4  2021-02-17T03:36:18.420Z  37.275700  ... 2021-02-17 03:36:18.420       Small

[5 rows x 24 columns]

In [223]:
eqPastMonth.dtypes

time                       object
latitude                  float64
longitude                 float64
depth                     float64
mag                       float64
magType                    object
nst                       float64
gap                       float64
dmin                      float64
rms                       float64
net                        object
id                         object
updated                    object
place                      object
type                       object
horizontalError           float64
depthError                float64
magError                  float64
magNst                    float64
status                     object
locationSource             object
magSource                  object
datetime           datetime64[ns]
custom_mag                 object
dtype: object