---
<center><h1>Basic intro to pandas</h1></center>

<center><h2>Work with pandas DataFrames: filtering, indexing and missing data</h2></center>
---

## Table of Contents

- [Work with pandas DataFrames: filtering, indexing and missing data](#Work-with-pandas-DataFrames:-filtering,-indexing-and-missing-data)
    * [Get basic information](#Get-basic-information)
    * [Conditional indexing and selection](#Conditional-indexing-and-selection)
    * [Work with indexes and MultiIndex option](#Work-with-indexes-and-MultiIndex-option)
    * [Selection by label and position](#Selection-by-label-and-position)
    * [Work with missing data](#Work-with-missing-data)
    - [*Exercise 1*](#Exercise-1)

In [52]:
import pandas as pd
import numpy as np
import random

## Work with pandas DataFrames: filtering, indexing and missing data

[[back to top]](#Table-of-Contents)

In this part we will continue our acquaintance with DataFrames and will get to know 
1.	how to get basic information about DataFrame and its content;
2.	how to get a segment of a Dataframe and select rows from DataFrame, which satisfy some conditions;
3.	how to change indexes in DataFrame and make advanced indexing;
4.	how to select any rows by its indexes, labels and positions;
5.	how to work with missing data.

Thus, we will divide the whole text of this lesson into logic constructed code blocks with respect to mentioned above points. In the following posts we will continue our learning of pandas and will consider its other features.

In [53]:
url="https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.csv"
eqPastMonth=pd.read_csv(url)
eqPastMonth.head(10)

                       time   latitude  ...  locationSource  magSource
0  2021-02-24T19:50:07.610Z  19.181000  ...              hv         hv
1  2021-02-24T19:46:29.747Z  64.743700  ...              ak         ak
2  2021-02-24T19:35:10.940Z  37.351300  ...              nn         nn
3  2021-02-24T19:34:35.290Z  19.453667  ...              hv         hv
4  2021-02-24T19:25:06.150Z  17.821000  ...              pr         pr
5  2021-02-24T19:19:50.122Z -15.108600  ...              us         us
6  2021-02-24T19:12:39.950Z  38.173300  ...              nn         nn
7  2021-02-24T19:11:05.610Z  19.464333  ...              hv         hv
8  2021-02-24T19:07:06.420Z  19.151167  ...              hv         hv
9  2021-02-24T19:05:11.260Z  32.537333  ...              ci         ci

[10 rows x 22 columns]

### Get basic information

[[back to top]](#Table-of-Contents)

pandas has a set of functions for getting basic information about DataFrame:

Lets take a look on type of `eqPastMonth` columns

In [54]:
eqPastMonth.dtypes

time                object
latitude           float64
longitude          float64
depth              float64
mag                float64
magType             object
nst                float64
gap                float64
dmin               float64
rms                float64
net                 object
id                  object
updated             object
place               object
type                object
horizontalError    float64
depthError         float64
magError           float64
magNst             float64
status              object
locationSource      object
magSource           object
dtype: object

You may notice that the dtype forthe time column is by default of type "object" meaning a string.  You can change this by using the apply function which allows one to apply a function to every row in series or dataframe. A "lambda" is a shorthand way to write your own function.

In [58]:
eqPastMonth['datetime'] = eqPastMonth['time'].apply(lambda x: (datetime.datetime.strptime(x, '%Y-%m-%dT%H:%M:%S.%fZ')))
eqPastMonth.head(5)

                       time   latitude  ...  magPlus1                datetime
0  2021-02-24T19:50:07.610Z  19.181000  ...      2.25 2021-02-24 19:50:07.610
1  2021-02-24T19:46:29.747Z  64.743700  ...      1.20 2021-02-24 19:46:29.747
2  2021-02-24T19:35:10.940Z  37.351300  ...      1.70 2021-02-24 19:35:10.940
3  2021-02-24T19:34:35.290Z  19.453667  ...      1.89 2021-02-24 19:34:35.290
4  2021-02-24T19:25:06.150Z  17.821000  ...      2.51 2021-02-24 19:25:06.150

[5 rows x 24 columns]

In [59]:
eqPastMonth['magPlus1'] = eqPastMonth['mag'].apply(lambda x: x + 0.1)
eqPastMonth.head(5)

                       time   latitude  ...  magPlus1                datetime
0  2021-02-24T19:50:07.610Z  19.181000  ...      2.25 2021-02-24 19:50:07.610
1  2021-02-24T19:46:29.747Z  64.743700  ...      1.20 2021-02-24 19:46:29.747
2  2021-02-24T19:35:10.940Z  37.351300  ...      1.70 2021-02-24 19:35:10.940
3  2021-02-24T19:34:35.290Z  19.453667  ...      1.89 2021-02-24 19:34:35.290
4  2021-02-24T19:25:06.150Z  17.821000  ...      2.51 2021-02-24 19:25:06.150

[5 rows x 24 columns]

Notice the new "datetime" column.  It of time datetime.

In [60]:
eqPastMonth.dtypes

time                       object
latitude                  float64
longitude                 float64
depth                     float64
mag                       float64
magType                    object
nst                       float64
gap                       float64
dmin                      float64
rms                       float64
net                        object
id                         object
updated                    object
place                      object
type                       object
horizontalError           float64
depthError                float64
magError                  float64
magNst                    float64
status                     object
locationSource             object
magSource                  object
magPlus1                  float64
datetime           datetime64[ns]
dtype: object

You can also see basic statistics about the DataFrame’s numeric columns

In [195]:
eqPastMonth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10620 entries, 0 to 10619
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             10620 non-null  object
 1   latitude         10620 non-null  float64
 2   longitude        10620 non-null  float64
 3   depth            10620 non-null  float64
 4   mag              10620 non-null  float64
 5   magType          10620 non-null  object
 6   nst              6919 non-null   float64
 7   gap              8113 non-null   float64
 8   dmin             7172 non-null   float64
 9   rms              10619 non-null  float64
 10  net              10620 non-null  object
 11  id               10620 non-null  object
 12  updated          10620 non-null  object
 13  place            10620 non-null  object
 14  type             10620 non-null  object
 15  horizontalError  7074 non-null   float64
 16  depthError       10619 non-null  float64
 17  magError         7449 non-null   float64
 18  magNst           7828 non-null   float64
 19  status           10620 non-null  object
 20  locationSource   10620 non-null  object
 21  magSource        10620 non-null  object
 22  datetime         10620 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(12), object(10)
memory usage: 1.9+ MB

Method `info()` shows (top down)
+ that `eqPastMonth` is an instance of DataFrame’s class; this information we have obtained with help of function `type()`;
+ number of rows in DataFrame;
+ type of each column and number of non-null rows in this column; this information in a shorted view was given by `dtypes`;
+ memory size of the DataFrame etc.
method `describe()` allows to quickly get average, minimal and maximal values, standard deviation etc. in each DataFrame column with numeric items

In [196]:
eqPastMonth.describe()

           latitude     longitude  ...     magError       magNst
count  10620.000000  10620.000000  ...  7449.000000  7828.000000
mean      38.057262   -111.559760  ...     0.240811    15.951456
std       20.091340     66.637466  ...     0.389112    28.485505
min      -64.756300   -179.989900  ...     0.000000     0.000000
25%       33.381708   -150.112700  ...     0.106000     5.000000
50%       38.158350   -118.932000  ...     0.162000     9.000000
75%       53.578300   -115.638542  ...     0.230000    18.000000
max       85.081800    179.649100  ...     5.190000   620.000000

[8 rows x 12 columns]

### Conditional indexing and selection

[[back to top]](#Table-of-Contents)

As we said above DataFrame is a group of Series objects. This allows you to select specific column (a Series) from the DataFrame (in this case you get a Series) or a few columns (in this case you get another DataFrame)

In [61]:
eqPastMonth_mag = eqPastMonth['mag']
# Here we are showing only one column, i.e. a Series
print ('type:', type(eqPastMonth_mag))
eqPastMonth_mag.head(10)

type: <class 'pandas.core.series.Series'>

0    2.15
1    1.10
2    1.60
3    1.79
4    2.41
5    5.00
6    1.10
7    1.83
8    2.05
9    2.89
Name: mag, dtype: float64

In [62]:
eqPastMonth_record = eqPastMonth[['time','depth', 'mag', 'place']]
# Here we are showing four columns, i.e. a new DataFrame
print ('type:', type(eqPastMonth_record))
eqPastMonth_record.tail()

type: <class 'pandas.core.frame.DataFrame'>

                           time  ...                                      place
10571  2021-01-25T20:26:37.822Z  ...                            Reykjanes Ridge
10572  2021-01-25T20:20:08.400Z  ...             12 km SSE of Talkeetna, Alaska
10573  2021-01-25T20:16:10.458Z  ...  47 km SSW of Denali National Park, Alaska
10574  2021-01-25T20:13:31.390Z  ...                23km ESE of Little Lake, CA
10575  2021-01-25T20:09:26.382Z  ...                 1 km NW of Susitna, Alaska

[5 rows x 4 columns]

You can also refer to one column in such way

In [64]:
eqPastMonth_record.time

0        2021-02-24T19:50:07.610Z
1        2021-02-24T19:46:29.747Z
2        2021-02-24T19:35:10.940Z
3        2021-02-24T19:34:35.290Z
4        2021-02-24T19:25:06.150Z
                   ...
10571    2021-01-25T20:26:37.822Z
10572    2021-01-25T20:20:08.400Z
10573    2021-01-25T20:16:10.458Z
10574    2021-01-25T20:13:31.390Z
10575    2021-01-25T20:09:26.382Z
Name: time, Length: 10576, dtype: object

Filtered DataFrames can be obtained by using of logic operators

In [200]:
# Let's display only large earthquakes
eqPastMonth_large = eqPastMonth[eqPastMonth['mag'] > 5]
eqPastMonth_large.head(10)

                         time  latitude  ...  magSource                datetime
5    2021-02-17T03:36:07.740Z   38.4489  ...         us 2021-02-17 03:36:07.740
100  2021-02-16T19:09:41.237Z   -2.8881  ...         us 2021-02-16 19:09:41.237
131  2021-02-16T15:54:07.766Z  -18.8866  ...         us 2021-02-16 15:54:07.766
180  2021-02-16T09:55:32.318Z   52.0601  ...         us 2021-02-16 09:55:32.318
189  2021-02-16T08:42:11.806Z   -6.0804  ...         us 2021-02-16 08:42:11.806
194  2021-02-16T08:07:23.479Z  -15.6949  ...         us 2021-02-16 08:07:23.479
203  2021-02-16T06:42:01.809Z  -13.3581  ...         us 2021-02-16 06:42:01.809
233  2021-02-16T03:37:11.369Z  -17.9892  ...         us 2021-02-16 03:37:11.369
252  2021-02-16T01:31:59.756Z  -17.8082  ...         us 2021-02-16 01:31:59.756
255  2021-02-16T01:22:19.619Z  -17.6551  ...         us 2021-02-16 01:22:19.619

[10 rows x 23 columns]

In [65]:
#Getting records that are large (>5mag) earthquakes and that occurred in the northern hemisphere
filtered_df_1 = eqPastMonth[(eqPastMonth['mag'] > 5 ) & (eqPastMonth['latitude'] > 0)]
filtered_df_1.describe()

        latitude   longitude       depth  ...   magError      magNst   magPlus1
count  44.000000   44.000000   44.000000  ...  43.000000   43.000000  44.000000
mean   28.556809   65.848882   37.869545  ...   0.058977  112.325581   5.452273
std    17.622015  102.851326   35.121386  ...   0.022141  173.080317   0.357958
min     1.279500 -179.314200    5.340000  ...   0.023000   10.000000   5.200000
25%    14.218650   25.084825   10.000000  ...   0.045000   19.500000   5.200000
50%    29.830950  121.908900   23.765000  ...   0.055000   34.000000   5.300000
75%    39.469025  140.829175   49.632500  ...   0.072000  108.500000   5.525000
max    63.960200  169.239100  152.040000  ...   0.098000  657.000000   7.200000

[8 rows x 13 columns]

In [66]:
#Getting records that are large (>5mag) earthquakes and that occurred in the southern hemisphere
filtered_df_1 = eqPastMonth[(eqPastMonth['mag'] > 5 ) & (eqPastMonth['latitude'] < 0)]
filtered_df_1.describe()

         latitude   longitude       depth  ...    magError      magNst    magPlus1
count  147.000000  147.000000  147.000000  ...  146.000000  146.000000  147.000000
mean   -20.353922  122.277174   26.483401  ...    0.073664   65.061644    5.499320
std      9.570325  103.133707   60.993346  ...    0.024729   85.489037    0.381866
min    -61.725900 -179.418100    5.590000  ...    0.025000    8.000000    5.200000
25%    -23.223950  145.081950   10.000000  ...    0.056000   16.000000    5.300000
50%    -22.755300  171.211800   10.000000  ...    0.071500   36.500000    5.300000
75%    -17.654050  171.671200   10.000000  ...    0.091750   80.000000    5.700000
max     -0.134000  177.952300  599.740000  ...    0.203000  515.000000    7.800000

[8 rows x 13 columns]

In [67]:
#Getting records that are large (>5mag) earthquakes and that occurred in the western hemisphere, but not after 120 w longitude, also filter columns in output
filtered_df_2 = eqPastMonth[(eqPastMonth['mag'] > 5 ) & (eqPastMonth['longitude'] < 0) & (eqPastMonth['longitude'] > -120)][['depth', 'mag', 'place']]
filtered_df_2.head(10)

      depth  mag                               place
118   10.00  5.6          5 km ESE of Vogar, Iceland
451   54.37  5.2       South Sandwich Islands region
635   19.79  5.2  78 km WSW of Puerto Madero, Mexico
1534  10.00  5.1          central Mid-Atlantic Ridge
1689  10.00  5.8           central East Pacific Rise
1801  98.55  5.2      12 km SSW of Yantzaza, Ecuador
3013  35.00  5.1   60 km SSW of La Gomera, Guatemala
3183  13.66  5.2         62 km WSW of Iquique, Chile
3375  69.69  5.3          33 km W of Celica, Ecuador
4241  48.07  5.2          20 km SW of Illapel, Chile

You can also use the method `isin(range)` for checking the presence of Series items in range, method `isnull()` for define `null` (`NaN`) values and boolean operators `&` (`AND`) and `|` (`OR`) in complicated conditions.

As you can see after filtering result tables (i.e. DataFrames) have non-ordered indexes. To fix this trouble you may write the following:

In [203]:
filtered_df_2.reset_index().head(10)

   index   depth  mag                                            place
0    670   35.00  5.1                60 km SSW of La Gomera, Guatemala
1    815   30.87  5.2                       54 km SW of Iquique, Chile
2    989   71.44  5.3                       22 km W of Celica, Ecuador
3   1772   48.67  5.2                      25 km WSW of Illapel, Chile
4   1942   10.00  5.7                        central East Pacific Rise
5   2421   10.63  5.1                                    northern Peru
6   2525  103.95  5.1           4 km ENE of Santa Rita de Siguas, Peru
7   4599   10.00  6.7                                  West Chile Rise
8   5576    7.22  5.6                      82 km SSE of Lethem, Guyana
9   5816  168.65  5.1  63 km W of San Antonio de los Cobres, Argentina

to start indexing form 0 and regularize it.

Also remember that you can add new columns and rows to the DataFrame:

In [204]:
#set new custom_score column and fill it with empty strings
eqPastMonth['custom_mag'] = ''
eqPastMonth['custom_mag'] = np.where(eqPastMonth['mag'] < 5, 'Small', "Large")
eqPastMonth.head(10)

                       time   latitude  ...                datetime  custom_mag
0  2021-02-17T04:25:59.180Z  35.763168  ... 2021-02-17 04:25:59.180       Small
1  2021-02-17T04:23:30.820Z  38.819332  ... 2021-02-17 04:23:30.820       Small
2  2021-02-17T04:20:41.210Z  33.598667  ... 2021-02-17 04:20:41.210       Small
3  2021-02-17T03:58:33.367Z -17.637800  ... 2021-02-17 03:58:33.367       Large
4  2021-02-17T03:36:18.420Z  37.275700  ... 2021-02-17 03:36:18.420       Small
5  2021-02-17T03:36:07.740Z  38.448900  ... 2021-02-17 03:36:07.740       Large
6  2021-02-17T03:27:43.060Z  38.835834  ... 2021-02-17 03:27:43.060       Small
7  2021-02-17T03:25:29.491Z -25.098400  ... 2021-02-17 03:25:29.491       Small
8  2021-02-17T03:24:15.431Z  59.827800  ... 2021-02-17 03:24:15.431       Small
9  2021-02-17T02:58:09.380Z  18.779100  ... 2021-02-17 02:58:09.380       Small

[10 rows x 24 columns]

### Work with indexes and MultiIndex option

[[back to top]](#Table-of-Contents)

Pandas allows to set specific indexes to a DataFrame. It can be defined at creating of a DataFrame:

In [70]:
import random
indexes = [random.randrange(0,100) for i in range(5)]
data = [{i:random.randint(0,10) for i in 'ABCDE'} for i in range(5)]
df = pd.DataFrame(data, index=indexes)
df

    A   B   C  D  E
53  5   4  10  4  4
21  8   9   8  4  6
26  2   5   4  0  5
14  3  10   3  4  0
81  9   1   3  1  7

Or be change any time

In [71]:
df.index = ['a', 'b', 'c', 'd', 'e']
df

   A   B   C  D  E
a  5   4  10  4  4
b  8   9   8  4  6
c  2   5   4  0  5
d  3  10   3  4  0
e  9   1   3  1  7

There is the possibility to select any column (one or more) as index column

In [72]:
# if duplicates exist you can drop duplicates to get unique values
#eqPastMonth_nodups = eqPastMonth.drop_duplicates(subset='time', keep='last')
# we don't need to do that.
# set 'time' as index
eqPastMonth_indexChange = eqPastMonth.set_index('time')
eqPastMonth_indexChange.head(10)

                           latitude  ...                datetime
time                                 ...
2021-02-24T19:50:07.610Z  19.181000  ... 2021-02-24 19:50:07.610
2021-02-24T19:46:29.747Z  64.743700  ... 2021-02-24 19:46:29.747
2021-02-24T19:35:10.940Z  37.351300  ... 2021-02-24 19:35:10.940
2021-02-24T19:34:35.290Z  19.453667  ... 2021-02-24 19:34:35.290
2021-02-24T19:25:06.150Z  17.821000  ... 2021-02-24 19:25:06.150
2021-02-24T19:19:50.122Z -15.108600  ... 2021-02-24 19:19:50.122
2021-02-24T19:12:39.950Z  38.173300  ... 2021-02-24 19:12:39.950
2021-02-24T19:11:05.610Z  19.464333  ... 2021-02-24 19:11:05.610
2021-02-24T19:07:06.420Z  19.151167  ... 2021-02-24 19:07:06.420
2021-02-24T19:05:11.260Z  32.537333  ... 2021-02-24 19:05:11.260

[10 rows x 23 columns]

By default, `set_index()` returns a new DataFrame, so you’ll have to specify if you’d like the changes to occur in place.

Let’s create a many levels index for `filtered_df_2` DataFrame

In [73]:
# set 'id' & 'type' as index
eqPastMonth_multi = eqPastMonth.set_index(['id','type'])[["latitude","longitude","depth","mag", "place"]]
eqPastMonth_multi.head(10)

                          latitude  ...                                 place
id           type                   ...
hv72363462   earthquake  19.181000  ...            2 km SSE of Pāhala, Hawaii
ak0212ja58vx earthquake  64.743700  ...   17 km NNW of Four Mile Road, Alaska
nn00801159   earthquake  37.351300  ...             33 km S of Rachel, Nevada
hv72363447   earthquake  19.453667  ...  28 km E of Honaunau-Napoopoo, Hawaii
pr2021055003 earthquake  17.821000  ...       16 km S of Guánica, Puerto Rico
us7000ddeg   earthquake -15.108600  ...           106 km NNE of Hihifo, Tonga
nn00801158   earthquake  38.173300  ...              29 km SE of Mina, Nevada
hv72363427   earthquake  19.464333  ...  28 km E of Honaunau-Napoopoo, Hawaii
hv72363422   earthquake  19.151167  ...              5 km S of Pāhala, Hawaii
ci39800680   earthquake  32.537333  ...          12km ESE of Puebla, B.C., MX

[10 rows x 5 columns]

and see the type of `eqPastMonth_multi.index()`

In [74]:
print ('type: ', type(eqPastMonth_multi.index))

type:  <class 'pandas.core.indexes.multi.MultiIndex'>

Thus, we get a new pandas class MultiIndex, which contains information about indexing of DataFrame and allows manipulating with this data. It’s interesting what is the type of `filtered_df_2.index()`?

You can get levels, labels and names values simply address it as to an attribute

### Selection by label and position
[[back to top]](#Table-of-Contents)

After reading previous three subparagraphs probably you have the question: Ok, I know now filter a DataFrame, how make it multi-indexed, but I don’t know how select any specific row in the table.
Object selection in pandas is now supported by two types of multi-axis indexing.

* `.loc` works on labels in the index;
* `.iloc` works on the positions in the index (so it only takes integers);

    
The sequence of the following examples demonstrates how we can manipulate with DataFrame’s rows.
At first let’s get the first row of equakes in the past month.

In [75]:
#To return a single record(i.e. row), in this case the first one.
eqPastMonth.loc[0]

time                 2021-02-24T19:50:07.610Z
latitude                               19.181
longitude                         -155.470993
depth                               32.860001
mag                                      2.15
magType                                    md
nst                                      42.0
gap                                     153.0
dmin                                      NaN
rms                                       0.1
net                                        hv
id                                 hv72363462
updated              2021-02-24T19:53:30.510Z
place              2 km SSE of Pāhala, Hawaii
type                               earthquake
horizontalError                          0.68
depthError                               0.98
magError                                 0.43
magNst                                   24.0
status                              automatic
locationSource                             hv
magSource                                  hv
magPlus1                                 2.25
datetime           2021-02-24 19:50:07.610000
Name: 0, dtype: object

and rows from 1 to 3 (pay attention on setting of ranges in `.loc`, the right boundary is included to this range which IS different than Python lists and string data structures)

In [211]:
eqPastMonth.loc[1:3]

                       time   latitude  ...                datetime  custom_mag
1  2021-02-17T04:23:30.820Z  38.819332  ... 2021-02-17 04:23:30.820       Small
2  2021-02-17T04:20:41.210Z  33.598667  ... 2021-02-17 04:20:41.210       Small
3  2021-02-17T03:58:33.367Z -17.637800  ... 2021-02-17 03:58:33.367       Large

[3 rows x 24 columns]

As you can see the first argument of `.loc` corresponds to index name. If you want return value of specific column(s), you should to define the name of this(these) column(s)

In [76]:
eqPastMonth.loc[0, 'place']

'2 km SSE of Pāhala, Hawaii'

In [81]:
eqPastMonth.loc[3:10, ['place', 'mag']]

                                   place   mag
3   28 km E of Honaunau-Napoopoo, Hawaii  1.79
4        16 km S of Guánica, Puerto Rico  2.41
5            106 km NNE of Hihifo, Tonga  5.00
6               29 km SE of Mina, Nevada  1.10
7   28 km E of Honaunau-Napoopoo, Hawaii  1.83
8               5 km S of Pāhala, Hawaii  2.05
9           12km ESE of Puebla, B.C., MX  2.89
10             2km NW of The Geysers, CA  1.42

Let’s repeat that the first argument of `.loc` is not row number but name of the index for this row

But if it is necessary to obtain rows by it number you may use `.iloc`

In [214]:
eqPastMonth.iloc[0]

time                 2021-02-17T04:25:59.180Z
latitude                            35.763168
longitude                         -120.329834
depth                                    9.28
mag                                      1.91
magType                                    md
nst                                      17.0
gap                                      90.0
dmin                                  0.01278
rms                                      0.08
net                                        nc
id                                 nc73524166
updated              2021-02-17T04:27:35.667Z
place                  6km NNW of Cholame, CA
type                               earthquake
horizontalError                          0.38
depthError                               0.52
magError                                 0.16
magNst                                    4.0
status                              automatic
locationSource                             nc
magSource                                  nc
datetime           2021-02-17 04:25:59.180000
custom_mag                              Small
Name: 0, dtype: object

In [84]:
eqPastMonth.iloc[1:5,3:5]

   depth   mag
1  20.10  1.10
2   0.30  1.60
3  -1.39  1.79
4  10.00  2.41

In the first case column’s number coincides with its name. The second example demonstrates the difference between `.loc` and `.iloc`

In [85]:
eqPastMonth.loc[1:5]

                       time   latitude  ...  magPlus1                datetime
1  2021-02-24T19:46:29.747Z  64.743700  ...      1.20 2021-02-24 19:46:29.747
2  2021-02-24T19:35:10.940Z  37.351300  ...      1.70 2021-02-24 19:35:10.940
3  2021-02-24T19:34:35.290Z  19.453667  ...      1.89 2021-02-24 19:34:35.290
4  2021-02-24T19:25:06.150Z  17.821000  ...      2.51 2021-02-24 19:25:06.150
5  2021-02-24T19:19:50.122Z -15.108600  ...      5.10 2021-02-24 19:19:50.122

[5 rows x 24 columns]

### Work with missing data

[[back to top]](#Table-of-Contents)

Pandas primarily uses the value `np.nan` to represent missing data (in table missed/empty value are marked by `NaN`). It is by default not included in computations. Missing data creates many issues at mathematical or computational tasks with DataFrames and Series and it’s important to know how fight with these values.

Previously we have learned how to check `null` and `non-null` values in the DataFrame and Series and how to miss `null` row in the table. But what to do if we need to use rows with `null` data, for example, find sum of all values in the dataset?

Let’s try do this

In [87]:
magError = eqPastMonth['magError']
sum(magError)

nan

The result is unexpected because there many `non-null` values in `eqPastMonth['magError']` Series. Sure, we could filter `magError['magError']`  and remain only `non-null` values. But what if we need sum all numerical values in `magError`? This way will be powerless or too complicated, because we will drop all row items even there is only one `null` value in this row. You can try to do this yourself.

To solve the assigned task you may use an elegant pandas method `fillna(value)`, which replace all `null` values by value.

In [88]:
magError = eqPastMonth['magError'].fillna(0)
sum(magError)

1909.2427897239515

In [89]:
eqPastMonth_fillna = eqPastMonth.fillna(0)
eqPastMonth_fillna.head(10)

                       time   latitude  ...  magPlus1                datetime
0  2021-02-24T19:50:07.610Z  19.181000  ...      2.25 2021-02-24 19:50:07.610
1  2021-02-24T19:46:29.747Z  64.743700  ...      1.20 2021-02-24 19:46:29.747
2  2021-02-24T19:35:10.940Z  37.351300  ...      1.70 2021-02-24 19:35:10.940
3  2021-02-24T19:34:35.290Z  19.453667  ...      1.89 2021-02-24 19:34:35.290
4  2021-02-24T19:25:06.150Z  17.821000  ...      2.51 2021-02-24 19:25:06.150
5  2021-02-24T19:19:50.122Z -15.108600  ...      5.10 2021-02-24 19:19:50.122
6  2021-02-24T19:12:39.950Z  38.173300  ...      1.20 2021-02-24 19:12:39.950
7  2021-02-24T19:11:05.610Z  19.464333  ...      1.93 2021-02-24 19:11:05.610
8  2021-02-24T19:07:06.420Z  19.151167  ...      2.15 2021-02-24 19:07:06.420
9  2021-02-24T19:05:11.260Z  32.537333  ...      2.99 2021-02-24 19:05:11.260

[10 rows x 24 columns]

Thus, we replace all `NaN` items to `0`. If `inplace=True` in `fillna()` method, then a DataFrame renew.
   
To remain only rows with `non-null` values you can use method `dropna()`

In [92]:
eqPastMonth_fillna = eqPastMonth.dropna(0)
print(eqPastMonth_fillna.mean())
eqPastMonth_fillna.head(10)

D66140B0-0277-45FF-AE18-A787BE3D4AAF:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.

latitude            35.553778
longitude         -112.862699
depth                7.835666
mag                  1.274546
nst                 21.227313
gap                109.896636
dmin                 0.107263
rms                  0.135629
horizontalError      0.529559
depthError           2.483006
magError             0.165700
magNst              12.850376
magPlus1             1.374546
dtype: float64

                        time   latitude  ...  magPlus1                datetime
4   2021-02-24T19:25:06.150Z  17.821000  ...      2.51 2021-02-24 19:25:06.150
9   2021-02-24T19:05:11.260Z  32.537333  ...      2.99 2021-02-24 19:05:11.260
10  2021-02-24T18:49:40.330Z  38.788502  ...      1.52 2021-02-24 18:49:40.330
11  2021-02-24T18:44:19.570Z  36.202331  ...      2.43 2021-02-24 18:44:19.570
12  2021-02-24T18:34:13.730Z  32.535500  ...      2.67 2021-02-24 18:34:13.730
17  2021-02-24T18:18:08.870Z  38.835167  ...      1.44 2021-02-24 18:18:08.870
19  2021-02-24T18:16:32.300Z  38.587166  ...      1.37 2021-02-24 18:16:32.300
25  2021-02-24T17:22:08.540Z  19.025800  ...      3.56 2021-02-24 17:22:08.540
26  2021-02-24T17:14:29.110Z  38.834499  ...      0.89 2021-02-24 17:14:29.110
27  2021-02-24T17:10:40.980Z  32.795333  ...      1.52 2021-02-24 17:10:40.980

[10 rows x 24 columns]

We can manipulate by `null` values and columns using parameters subset and how to set analyzing columns and type of analysis respectively

> ### Exercise 1

> - Get type of `“latitude”` column in `eqPastMonth`. 

> - In `eqPastMonth` find all rows where `magType` corresponds to the value `"md"` and where `mag` is less `5` and `not-null` `magError`. Call the obtained DataFrmae as `eqPastMonth_md_large`.

In [221]:
# type your code here