---
<center><h1>Lesson 2 - Basic intro into pandas</h1></center> 
---
---

<center><h2>Part 5. Work with pandas DataFrames: join, merge and concatenate</h2></center>

---

## Table of Contents

- [Work with pandas DataFrames: join, merge and concatenate](#Work-with-pandas-DataFrames:-join,-merge-and-concatenate)
    * [Concatenation](#Concatenation)
    * [Merging and joining](#Merging-and-joining)
    - [*Exercise 5.1*](#Exercise-5.1)

In [1]:
import pandas as pd
import numpy as np
import random

## Work with pandas DataFrames: join, merge and concatenate

[[back to top]](#Table-of-Contents)

Now we will teach the operations, which we can do with two or more DataFrames at once – merging, joining, concatenation and the possibility of adding of new rows to a DataFrames like adding new list’s elements by using `.append()` method of Python lists.

### Concatenation

[[back to top]](#Table-of-Contents)

pandas provides various facilities for easily combining together Series and DataFrame objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join/merge-type operations. We can use the concat function in Pandas to append either columns or rows from one DataFrame to another. Let’s grab three subsets of `movies` to see how this works.

In [3]:
movies = pd.read_csv('data/movies.csv', encoding="ISO-8859-1")

In [4]:
mov1, mov2, mov3 = movies.loc[:33333], movies.loc[33334:66666], movies.loc[66667:, :]
mov2.head(10)

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
33334,10,50,5,877888545,53.0,M,lawyer,90703,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33335,201,50,4,884114471,27.0,M,writer,E2A4H,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33336,287,50,5,875334271,21.0,M,salesman,31211,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33337,246,50,5,884920788,19.0,M,student,28734,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33338,249,50,4,879571695,25.0,M,student,84103,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33339,99,50,5,885679998,20.0,M,student,63129,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33340,178,50,5,882823857,26.0,M,other,49512,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33341,251,50,5,886272086,28.0,M,doctor,85032,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33342,25,50,5,885852150,39.0,M,NaN,55107,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33343,59,50,5,888205087,49.0,M,educator,08403,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0

Can you call row indexes of `movies`, which `mov2` and `mov3` have? 
Let’s join `mov2` and `mov3` into one DataFrame

In [5]:
mov23_0 = pd.concat([mov2, mov3], axis=0)
# or mov23_0 = pd.concat([mov2, mov3])
mov23_0

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
33334,10,50,5,877888545,53.0,M,lawyer,90703,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33335,201,50,4,884114471,27.0,M,writer,E2A4H,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33336,287,50,5,875334271,21.0,M,salesman,31211,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33337,246,50,5,884920788,19.0,M,student,28734,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33338,249,50,4,879571695,25.0,M,student,84103,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33339,99,50,5,885679998,20.0,M,student,63129,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33340,178,50,5,882823857,26.0,M,other,49512,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33341,251,50,5,886272086,28.0,M,doctor,85032,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33342,25,50,5,885852150,39.0,M,NaN,55107,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33343,59,50,5,888205087,49.0,M,educator,08403,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33344,72,50,2,880037119,48.0,F,administrator,73034,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33345,87,50,5,879876194,47.0,M,administrator,89503,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33346,42,50,5,881107178,30.0,M,administrator,17870,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33347,292,50,4,881103977,35.0,F,programmer,94703,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33348,20,50,3,879667937,42.0,F,NaN,95660,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33349,13,50,5,882140001,NaN,M,educator,29206,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33350,60,50,5,883326566,50.0,M,healthcare,06472,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33351,57,50,5,883697105,16.0,M,none,84010,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33352,189,50,5,893263994,32.0,M,artist,95014,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33353,92,50,5,875640148,32.0,M,entertainment,80525,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33354,254,50,5,886471151,44.0,M,educator,42647,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33355,293,50,5,888905519,24.0,M,writer,60804,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33356,127,50,4,884364866,NaN,M,none,73439,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33357,222,50,4,877563194,29.0,M,programmer,27502,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33358,267,50,5,878974783,23.0,M,engineer,83716,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33359,8,50,5,879362124,36.0,M,administrator,05201,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33360,162,50,5,877635662,25.0,M,artist,15610,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33361,279,50,3,890451347,33.0,M,programmer,85251,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33362,145,50,5,885557660,31.0,M,entertainment,V3N4P,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33363,28,50,4,881957090,32.0,M,writer,55369,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,894,1658,4,882404137,NaN,M,educator,74075,"Substance of Fire, The (1996)",1996-12-06,...,0,0,0,0,0,0,0,0,0,0
99971,747,1660,2,888640731,19.0,M,other,93612,Small Faces (1995),1996-08-09,...,0,0,0,0,0,0,0,0,0,0
99972,747,1659,1,888733313,19.0,M,other,93612,Getting Away With Murder (1996),1996-04-12,...,0,0,0,0,0,0,0,0,0,0
99973,751,1661,1,889299429,24.0,F,other,90034,"New Age, The (1994)",1994-01-01,...,0,0,0,0,0,0,0,0,0,0
99974,762,1662,1,878719324,32.0,M,administrator,95050,Rough Magic (1995),1997-05-30,...,0,0,0,0,0,1,0,0,0,0
99975,782,1662,4,891500110,21.0,F,artist,33205,Rough Magic (1995),1997-05-30,...,0,0,0,0,0,1,0,0,0,0
99976,782,1669,2,891500150,21.0,F,artist,33205,MURDER and murder (1996),1997-06-20,...,0,0,0,0,1,0,0,0,0,0
99977,782,1663,2,891499700,21.0,F,artist,33205,Nothing Personal (1995),1997-04-30,...,0,0,0,0,0,0,0,0,1,0
99978,782,1666,2,891500194,21.0,F,artist,33205,Ripe (1996),1997-05-02,...,0,0,0,0,0,0,0,0,0,0
99979,782,1668,3,891500067,21.0,F,artist,33205,Wedding Bell Blues (1996),1997-06-13,...,0,0,0,0,0,0,0,0,0,0
99980,782,1664,4,891499699,21.0,F,artist,33205,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99981,839,1664,1,875752902,38.0,F,entertainment,90814,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99982,870,1664,4,890057322,NaN,M,student,65203,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99983,880,1664,4,892958799,13.0,M,student,83702,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99984,782,1665,2,891500194,21.0,F,artist,33205,"Brother's Kiss, A (1997)",1997-04-25,...,0,0,0,0,0,0,0,0,0,0
99985,782,1670,3,891497793,21.0,F,artist,33205,Tainted (1998),1998-02-01,...,0,0,0,0,0,0,0,1,0,0
99986,782,1667,3,891500110,NaN,F,artist,33205,"Next Step, The (1995)",1997-06-13,...,0,0,0,0,0,0,0,0,0,0
99987,787,1671,1,888980193,18.0,F,student,98620,"Further Gesture, A (1996)",1998-02-20,...,0,0,0,0,0,0,0,0,0,0
99988,828,1672,2,891037722,28.0,M,librarian,85282,Kika (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
99989,896,1672,2,887159554,28.0,M,writer,91505,Kika (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
99990,835,1673,3,891034023,44.0,F,NaN,11577,Mirage (1995),1995-01-01,...,0,0,0,0,0,0,0,1,0,0
99991,840,1674,4,891211682,39.0,M,artist,55406,Mamma Roma (1962),1962-01-01,...,0,0,0,0,0,0,0,0,0,0
99992,851,1676,2,875731674,NaN,M,other,29646,"War at Home, The (1996)",1996-01-01,...,0,0,0,0,0,0,0,0,0,0
99993,851,1675,3,884222085,18.0,M,other,29646,"Sunchaser, The (1996)",1996-10-25,...,0,0,0,0,0,0,0,0,0,0
99994,854,1677,3,882814368,29.0,F,student,55408,Sweet Nothing (1995),1996-09-20,...,0,0,0,0,0,0,0,0,0,0
99995,863,1679,3,889289491,17.0,M,student,60089,B. Monkey (1998),1998-02-06,...,0,0,0,0,0,1,0,1,0,0
99996,863,1678,1,889289570,NaN,M,student,60089,Mat' i syn (1997),1998-02-06,...,0,0,0,0,0,0,0,0,0,0
99997,863,1680,2,889289570,17.0,M,student,60089,Sliding Doors (1998),1998-01-01,...,0,0,0,0,0,1,0,0,0,0
99998,896,1681,3,887160722,28.0,M,writer,91505,You So Crazy (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
99999,916,1682,3,880845755,27.0,M,engineer,N2L5N,Scream of Stone (Schrei aus Stein) (1991),1996-03-08,...,0,0,0,0,0,0,0,0,0,0

When we concatenate DataFrames, we need to specify the axis. `axis=0 `tells pandas to stack the second DataFrame under the first one. It will automatically detect whether the column names are the same and will stack accordingly. `axis=1` will stack the columns in the second DataFrame to the right of the first DataFrame. To stack the data vertically, we need to make sure we have the same columns and associated column format in both datasets. When we stack horizonally, we want to make sure what we are doing makes sense (i.e. the data are related in some way).

We might obtain the same DataFrame using method `df.append(other_df)`, where `other_df` is a DataFrame that we want to stack under the `df` DataFrame

In [6]:
mov23_0_2 = mov2.append(mov3)
mov23_0_2

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
33334,10,50,5,877888545,53.0,M,lawyer,90703,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33335,201,50,4,884114471,27.0,M,writer,E2A4H,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33336,287,50,5,875334271,21.0,M,salesman,31211,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33337,246,50,5,884920788,19.0,M,student,28734,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33338,249,50,4,879571695,25.0,M,student,84103,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33339,99,50,5,885679998,20.0,M,student,63129,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33340,178,50,5,882823857,26.0,M,other,49512,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33341,251,50,5,886272086,28.0,M,doctor,85032,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33342,25,50,5,885852150,39.0,M,NaN,55107,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33343,59,50,5,888205087,49.0,M,educator,08403,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33344,72,50,2,880037119,48.0,F,administrator,73034,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33345,87,50,5,879876194,47.0,M,administrator,89503,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33346,42,50,5,881107178,30.0,M,administrator,17870,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33347,292,50,4,881103977,35.0,F,programmer,94703,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33348,20,50,3,879667937,42.0,F,NaN,95660,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33349,13,50,5,882140001,NaN,M,educator,29206,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33350,60,50,5,883326566,50.0,M,healthcare,06472,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33351,57,50,5,883697105,16.0,M,none,84010,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33352,189,50,5,893263994,32.0,M,artist,95014,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33353,92,50,5,875640148,32.0,M,entertainment,80525,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33354,254,50,5,886471151,44.0,M,educator,42647,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33355,293,50,5,888905519,24.0,M,writer,60804,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33356,127,50,4,884364866,NaN,M,none,73439,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33357,222,50,4,877563194,29.0,M,programmer,27502,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33358,267,50,5,878974783,23.0,M,engineer,83716,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33359,8,50,5,879362124,36.0,M,administrator,05201,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33360,162,50,5,877635662,25.0,M,artist,15610,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33361,279,50,3,890451347,33.0,M,programmer,85251,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33362,145,50,5,885557660,31.0,M,entertainment,V3N4P,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
33363,28,50,4,881957090,32.0,M,writer,55369,Star Wars (1977),1977-01-01,...,0,0,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,894,1658,4,882404137,NaN,M,educator,74075,"Substance of Fire, The (1996)",1996-12-06,...,0,0,0,0,0,0,0,0,0,0
99971,747,1660,2,888640731,19.0,M,other,93612,Small Faces (1995),1996-08-09,...,0,0,0,0,0,0,0,0,0,0
99972,747,1659,1,888733313,19.0,M,other,93612,Getting Away With Murder (1996),1996-04-12,...,0,0,0,0,0,0,0,0,0,0
99973,751,1661,1,889299429,24.0,F,other,90034,"New Age, The (1994)",1994-01-01,...,0,0,0,0,0,0,0,0,0,0
99974,762,1662,1,878719324,32.0,M,administrator,95050,Rough Magic (1995),1997-05-30,...,0,0,0,0,0,1,0,0,0,0
99975,782,1662,4,891500110,21.0,F,artist,33205,Rough Magic (1995),1997-05-30,...,0,0,0,0,0,1,0,0,0,0
99976,782,1669,2,891500150,21.0,F,artist,33205,MURDER and murder (1996),1997-06-20,...,0,0,0,0,1,0,0,0,0,0
99977,782,1663,2,891499700,21.0,F,artist,33205,Nothing Personal (1995),1997-04-30,...,0,0,0,0,0,0,0,0,1,0
99978,782,1666,2,891500194,21.0,F,artist,33205,Ripe (1996),1997-05-02,...,0,0,0,0,0,0,0,0,0,0
99979,782,1668,3,891500067,21.0,F,artist,33205,Wedding Bell Blues (1996),1997-06-13,...,0,0,0,0,0,0,0,0,0,0
99980,782,1664,4,891499699,21.0,F,artist,33205,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99981,839,1664,1,875752902,38.0,F,entertainment,90814,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99982,870,1664,4,890057322,NaN,M,student,65203,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99983,880,1664,4,892958799,13.0,M,student,83702,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99984,782,1665,2,891500194,21.0,F,artist,33205,"Brother's Kiss, A (1997)",1997-04-25,...,0,0,0,0,0,0,0,0,0,0
99985,782,1670,3,891497793,21.0,F,artist,33205,Tainted (1998),1998-02-01,...,0,0,0,0,0,0,0,1,0,0
99986,782,1667,3,891500110,NaN,F,artist,33205,"Next Step, The (1995)",1997-06-13,...,0,0,0,0,0,0,0,0,0,0
99987,787,1671,1,888980193,18.0,F,student,98620,"Further Gesture, A (1996)",1998-02-20,...,0,0,0,0,0,0,0,0,0,0
99988,828,1672,2,891037722,28.0,M,librarian,85282,Kika (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
99989,896,1672,2,887159554,28.0,M,writer,91505,Kika (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
99990,835,1673,3,891034023,44.0,F,NaN,11577,Mirage (1995),1995-01-01,...,0,0,0,0,0,0,0,1,0,0
99991,840,1674,4,891211682,39.0,M,artist,55406,Mamma Roma (1962),1962-01-01,...,0,0,0,0,0,0,0,0,0,0
99992,851,1676,2,875731674,NaN,M,other,29646,"War at Home, The (1996)",1996-01-01,...,0,0,0,0,0,0,0,0,0,0
99993,851,1675,3,884222085,18.0,M,other,29646,"Sunchaser, The (1996)",1996-10-25,...,0,0,0,0,0,0,0,0,0,0
99994,854,1677,3,882814368,29.0,F,student,55408,Sweet Nothing (1995),1996-09-20,...,0,0,0,0,0,0,0,0,0,0
99995,863,1679,3,889289491,17.0,M,student,60089,B. Monkey (1998),1998-02-06,...,0,0,0,0,0,1,0,1,0,0
99996,863,1678,1,889289570,NaN,M,student,60089,Mat' i syn (1997),1998-02-06,...,0,0,0,0,0,0,0,0,0,0
99997,863,1680,2,889289570,17.0,M,student,60089,Sliding Doors (1998),1998-01-01,...,0,0,0,0,0,1,0,0,0,0
99998,896,1681,3,887160722,28.0,M,writer,91505,You So Crazy (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
99999,916,1682,3,880845755,27.0,M,engineer,N2L5N,Scream of Stone (Schrei aus Stein) (1991),1996-03-08,...,0,0,0,0,0,0,0,0,0,0

You may concatenate not only two DataFrame, but the arbitrary amount

In [7]:
dfs = [mov1, mov2, mov3]
mov_all = pd.concat(dfs, ignore_index=True)
mov_all

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,49.0,M,writer,55105,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
1,305,242,5,886307828,23.0,M,programmer,94086,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
2,6,242,4,883268170,42.0,M,executive,98101,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
3,234,242,4,891033261,60.0,M,retired,94702,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
4,63,242,3,875747190,31.0,M,marketing,75240,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
5,181,242,1,878961814,26.0,M,executive,21218,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
6,201,242,4,884110598,27.0,M,writer,E2A4H,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
7,249,242,5,879571438,25.0,M,student,84103,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
8,13,242,2,881515193,47.0,M,educator,29206,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
9,279,242,3,877756647,33.0,M,programmer,85251,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
10,145,242,5,875269755,31.0,M,entertainment,V3N4P,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
11,90,242,4,891382267,60.0,M,educator,78155,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
12,271,242,4,885844495,51.0,M,engineer,22932,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
13,18,242,5,880129305,35.0,F,other,37212,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
14,1,242,5,889751633,NaN,M,NaN,85711,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
15,207,242,4,890793823,39.0,M,marketing,92037,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
16,14,242,4,876964570,45.0,M,scientist,55106,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
17,113,242,2,875075887,47.0,M,executive,95032,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
18,123,242,5,879809053,NaN,F,artist,20008,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
19,296,242,4,884196057,43.0,F,administrator,16803,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
20,154,242,3,879138235,25.0,M,student,53703,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
21,270,242,5,876953744,18.0,F,student,63119,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
22,240,242,5,885775683,23.0,F,educator,20784,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
23,144,242,4,888103444,53.0,M,NaN,20910,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
24,21,242,3,874951617,NaN,M,writer,30068,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
25,239,242,5,889178512,39.0,M,NaN,95628,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
26,111,242,4,891679901,57.0,M,NaN,90630,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
27,129,242,4,883243972,36.0,F,marketing,07039,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
28,131,242,5,883681723,59.0,F,administrator,15237,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
29,226,242,5,883888671,28.0,M,student,92103,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,894,1658,4,882404137,NaN,M,educator,74075,"Substance of Fire, The (1996)",1996-12-06,...,0,0,0,0,0,0,0,0,0,0
99971,747,1660,2,888640731,19.0,M,other,93612,Small Faces (1995),1996-08-09,...,0,0,0,0,0,0,0,0,0,0
99972,747,1659,1,888733313,19.0,M,other,93612,Getting Away With Murder (1996),1996-04-12,...,0,0,0,0,0,0,0,0,0,0
99973,751,1661,1,889299429,24.0,F,other,90034,"New Age, The (1994)",1994-01-01,...,0,0,0,0,0,0,0,0,0,0
99974,762,1662,1,878719324,32.0,M,administrator,95050,Rough Magic (1995),1997-05-30,...,0,0,0,0,0,1,0,0,0,0
99975,782,1662,4,891500110,21.0,F,artist,33205,Rough Magic (1995),1997-05-30,...,0,0,0,0,0,1,0,0,0,0
99976,782,1669,2,891500150,21.0,F,artist,33205,MURDER and murder (1996),1997-06-20,...,0,0,0,0,1,0,0,0,0,0
99977,782,1663,2,891499700,21.0,F,artist,33205,Nothing Personal (1995),1997-04-30,...,0,0,0,0,0,0,0,0,1,0
99978,782,1666,2,891500194,21.0,F,artist,33205,Ripe (1996),1997-05-02,...,0,0,0,0,0,0,0,0,0,0
99979,782,1668,3,891500067,21.0,F,artist,33205,Wedding Bell Blues (1996),1997-06-13,...,0,0,0,0,0,0,0,0,0,0
99980,782,1664,4,891499699,21.0,F,artist,33205,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99981,839,1664,1,875752902,38.0,F,entertainment,90814,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99982,870,1664,4,890057322,NaN,M,student,65203,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99983,880,1664,4,892958799,13.0,M,student,83702,8 Heads in a Duffel Bag (1997),1997-04-18,...,0,0,0,0,0,0,0,0,0,0
99984,782,1665,2,891500194,21.0,F,artist,33205,"Brother's Kiss, A (1997)",1997-04-25,...,0,0,0,0,0,0,0,0,0,0
99985,782,1670,3,891497793,21.0,F,artist,33205,Tainted (1998),1998-02-01,...,0,0,0,0,0,0,0,1,0,0
99986,782,1667,3,891500110,NaN,F,artist,33205,"Next Step, The (1995)",1997-06-13,...,0,0,0,0,0,0,0,0,0,0
99987,787,1671,1,888980193,18.0,F,student,98620,"Further Gesture, A (1996)",1998-02-20,...,0,0,0,0,0,0,0,0,0,0
99988,828,1672,2,891037722,28.0,M,librarian,85282,Kika (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
99989,896,1672,2,887159554,28.0,M,writer,91505,Kika (1993),1993-01-01,...,0,0,0,0,0,0,0,0,0,0
99990,835,1673,3,891034023,44.0,F,NaN,11577,Mirage (1995),1995-01-01,...,0,0,0,0,0,0,0,1,0,0
99991,840,1674,4,891211682,39.0,M,artist,55406,Mamma Roma (1962),1962-01-01,...,0,0,0,0,0,0,0,0,0,0
99992,851,1676,2,875731674,NaN,M,other,29646,"War at Home, The (1996)",1996-01-01,...,0,0,0,0,0,0,0,0,0,0
99993,851,1675,3,884222085,18.0,M,other,29646,"Sunchaser, The (1996)",1996-10-25,...,0,0,0,0,0,0,0,0,0,0
99994,854,1677,3,882814368,29.0,F,student,55408,Sweet Nothing (1995),1996-09-20,...,0,0,0,0,0,0,0,0,0,0
99995,863,1679,3,889289491,17.0,M,student,60089,B. Monkey (1998),1998-02-06,...,0,0,0,0,0,1,0,1,0,0
99996,863,1678,1,889289570,NaN,M,student,60089,Mat' i syn (1997),1998-02-06,...,0,0,0,0,0,0,0,0,0,0
99997,863,1680,2,889289570,17.0,M,student,60089,Sliding Doors (1998),1998-01-01,...,0,0,0,0,0,1,0,0,0,0
99998,896,1681,3,887160722,28.0,M,writer,91505,You So Crazy (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
99999,916,1682,3,880845755,27.0,M,engineer,N2L5N,Scream of Stone (Schrei aus Stein) (1991),1996-03-08,...,0,0,0,0,0,0,0,0,0,0

In [8]:
mov_all.loc[1,:]

user_id                                                     305
movie_id                                                    242
rating                                                        5
timestamp                                             886307828
age                                                          23
gender                                                        M
occupation                                           programmer
zip_code                                                  94086
movie_title                                        Kolya (1996)
release_date                                         1997-01-24
IMDb_URL        http://us.imdb.com/M/title-exact?Kolya%20(1996)
unknown                                                       0
Action                                                        0
Adventure                                                     0
Animation                                                     0
Childrens                                                     0
Comedy                                                        1
Crime                                                         0
Documentary                                                   0
Drama                                                         0
Fantasy                                                       0
Film-Noir                                                     0
Horror                                                        0
Musical                                                       0
Mystery                                                       0
Romance                                                       0
Sci-Fi                                                        0
Thriller                                                      0
War                                                           0
Western                                                       0
Name: 1, dtype: object

As you can see, pandas does not reset indexing at concatenation by default and remain indexes of each concatenating DataFrame. To reset indexes we used argument `ignore_index=True`.
Sometimes it is very comfortably to associate specific keys with each of the pieces of the chopped up DataFrame. We can do this using the `keys` argument:

In [9]:
mov13_0_keyses = pd.concat([mov1, mov3], axis=0, keys=['1', '3'])
mov13_0_keyses.head(10)

     user_id  movie_id  rating  timestamp   age gender  occupation zip_code  \
1 0      196       242       3  881250949  49.0      M      writer    55105
  1      305       242       5  886307828  23.0      M  programmer    94086
  2        6       242       4  883268170  42.0      M   executive    98101
  3      234       242       4  891033261  60.0      M     retired    94702
  4       63       242       3  875747190  31.0      M   marketing    75240
  5      181       242       1  878961814  26.0      M   executive    21218
  6      201       242       4  884110598  27.0      M      writer    E2A4H
  7      249       242       5  879571438  25.0      M     student    84103
  8       13       242       2  881515193  47.0      M    educator    29206
  9      279       242       3  877756647  33.0      M  programmer    85251

      movie_title release_date   ...    Fantasy  Film-Noir  Horror  Musical  \
1 0  Kolya (1996)   1997-01-24   ...          0          0       0        0
  1  Kolya (1996)   1997-01-24   ...          0          0       0        0
  2  Kolya (1996)   1997-01-24   ...          0          0       0        0
  3  Kolya (1996)   1997-01-24   ...          0          0       0        0
  4  Kolya (1996)   1997-01-24   ...          0          0       0        0
  5  Kolya (1996)   1997-01-24   ...          0          0       0        0
  6  Kolya (1996)   1997-01-24   ...          0          0       0        0
  7  Kolya (1996)   1997-01-24   ...          0          0       0        0
  8  Kolya (1996)   1997-01-24   ...          0          0       0        0
  9  Kolya (1996)   1997-01-24   ...          0          0       0        0

     Mystery  Romance  Sci-Fi  Thriller  War  Western
1 0        0        0       0         0    0        0
  1        0        0       0         0    0        0
  2        0        0       0         0    0        0
  3        0        0       0         0    0        0
  4        0        0       0         0    0        0
  5        0        0       0         0    0        0
  6        0        0       0         0    0        0
  7        0        0       0         0    0        0
  8        0        0       0         0    0        0
  9        0        0       0         0    0        0

[10 rows x 30 columns]

and then call the specific group by the set `unique index`

In [10]:
mov13_0_keyses.ix['3'].head(10)

/home/dmitriy/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
66667,735,741,2,876698796,29.0,F,healthcare,85719,"Last Supper, The (1995)",1996-04-05,...,0,0,0,0,0,0,0,1,0,0
66668,774,741,1,888558762,30.0,M,student,80027,"Last Supper, The (1995)",1996-04-05,...,0,0,0,0,0,0,0,1,0,0
66669,789,741,5,880332148,29.0,M,other,55420,"Last Supper, The (1995)",1996-04-05,...,0,0,0,0,0,0,0,1,0,0
66670,825,741,4,881343947,44.0,M,engineer,05452,"Last Supper, The (1995)",1996-04-05,...,0,0,0,0,0,0,0,1,0,0
66671,831,741,2,891354726,21.0,M,other,33765,"Last Supper, The (1995)",1996-04-05,...,0,0,0,0,0,0,0,1,0,0
66672,889,741,4,880177131,24.0,M,technician,78704,"Last Supper, The (1995)",1996-04-05,...,0,0,0,0,0,0,0,1,0,0
66673,916,741,3,880843401,27.0,M,NaN,N2L5N,"Last Supper, The (1995)",1996-04-05,...,0,0,0,0,0,0,0,1,0,0
66674,919,741,3,875288805,25.0,M,other,14216,"Last Supper, The (1995)",1996-04-05,...,0,0,0,0,0,0,0,1,0,0
66675,913,741,4,881037004,27.0,M,student,76201,"Last Supper, The (1995)",1996-04-05,...,0,0,0,0,0,0,0,1,0,0
66676,923,741,5,880387792,21.0,M,student,E2E3R,"Last Supper, The (1995)",1996-04-05,...,0,0,0,0,0,0,0,1,0,0

As we mentioned above, you may glue two or more DataFrames not only in vertical direction but in horizontal one also by using argument `axis=1`

In [11]:
mov13_1 = pd.concat([mov1, mov3], axis=1)
mov13_1

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196.0,242.0,3.0,881250949.0,49.0,M,writer,55105,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,305.0,242.0,5.0,886307828.0,23.0,M,programmer,94086,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.0,242.0,4.0,883268170.0,42.0,M,executive,98101,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,234.0,242.0,4.0,891033261.0,60.0,M,retired,94702,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63.0,242.0,3.0,875747190.0,31.0,M,marketing,75240,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,181.0,242.0,1.0,878961814.0,26.0,M,executive,21218,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,201.0,242.0,4.0,884110598.0,27.0,M,writer,E2A4H,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,249.0,242.0,5.0,879571438.0,25.0,M,student,84103,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,13.0,242.0,2.0,881515193.0,47.0,M,educator,29206,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,279.0,242.0,3.0,877756647.0,33.0,M,programmer,85251,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,145.0,242.0,5.0,875269755.0,31.0,M,entertainment,V3N4P,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,90.0,242.0,4.0,891382267.0,60.0,M,educator,78155,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,271.0,242.0,4.0,885844495.0,51.0,M,engineer,22932,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,18.0,242.0,5.0,880129305.0,35.0,F,other,37212,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1.0,242.0,5.0,889751633.0,NaN,M,NaN,85711,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,207.0,242.0,4.0,890793823.0,39.0,M,marketing,92037,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,14.0,242.0,4.0,876964570.0,45.0,M,scientist,55106,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,113.0,242.0,2.0,875075887.0,47.0,M,executive,95032,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,123.0,242.0,5.0,879809053.0,NaN,F,artist,20008,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,296.0,242.0,4.0,884196057.0,43.0,F,administrator,16803,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,154.0,242.0,3.0,879138235.0,25.0,M,student,53703,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,270.0,242.0,5.0,876953744.0,18.0,F,student,63119,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,240.0,242.0,5.0,885775683.0,23.0,F,educator,20784,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,144.0,242.0,4.0,888103444.0,53.0,M,NaN,20910,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,21.0,242.0,3.0,874951617.0,NaN,M,writer,30068,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,239.0,242.0,5.0,889178512.0,39.0,M,NaN,95628,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,111.0,242.0,4.0,891679901.0,57.0,M,NaN,90630,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,129.0,242.0,4.0,883243972.0,36.0,F,marketing,07039,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,131.0,242.0,5.0,883681723.0,59.0,F,administrator,15237,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,226.0,242.0,5.0,883888671.0,28.0,M,student,92103,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
99975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
99976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
99977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
99978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
99986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
99991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
99996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
99998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

You may wonder at this gluing recipe, but pandas searches the equal identifications for concatenation (columns names at `axis=0` and indexes at `axis=1`). We hadn’t any common indexes for `mov3` and `mov1` above. Let’s create a copy of `mov3` and change its indexes

In [12]:
mov32 = mov3.copy()
mov32.index = range(10000,43333)
mov13_2 = pd.concat([mov1, mov32], axis=1)
# or pd.concat([cityA, cityC2], axis=1, join='outer')
mov13_2

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196.0,242.0,3.0,881250949.0,49.0,M,writer,55105,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,305.0,242.0,5.0,886307828.0,23.0,M,programmer,94086,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.0,242.0,4.0,883268170.0,42.0,M,executive,98101,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,234.0,242.0,4.0,891033261.0,60.0,M,retired,94702,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63.0,242.0,3.0,875747190.0,31.0,M,marketing,75240,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,181.0,242.0,1.0,878961814.0,26.0,M,executive,21218,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,201.0,242.0,4.0,884110598.0,27.0,M,writer,E2A4H,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,249.0,242.0,5.0,879571438.0,25.0,M,student,84103,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,13.0,242.0,2.0,881515193.0,47.0,M,educator,29206,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,279.0,242.0,3.0,877756647.0,33.0,M,programmer,85251,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,145.0,242.0,5.0,875269755.0,31.0,M,entertainment,V3N4P,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,90.0,242.0,4.0,891382267.0,60.0,M,educator,78155,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,271.0,242.0,4.0,885844495.0,51.0,M,engineer,22932,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,18.0,242.0,5.0,880129305.0,35.0,F,other,37212,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1.0,242.0,5.0,889751633.0,NaN,M,NaN,85711,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,207.0,242.0,4.0,890793823.0,39.0,M,marketing,92037,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,14.0,242.0,4.0,876964570.0,45.0,M,scientist,55106,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,113.0,242.0,2.0,875075887.0,47.0,M,executive,95032,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,123.0,242.0,5.0,879809053.0,NaN,F,artist,20008,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,296.0,242.0,4.0,884196057.0,43.0,F,administrator,16803,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,154.0,242.0,3.0,879138235.0,25.0,M,student,53703,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,270.0,242.0,5.0,876953744.0,18.0,F,student,63119,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,240.0,242.0,5.0,885775683.0,23.0,F,educator,20784,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,144.0,242.0,4.0,888103444.0,53.0,M,NaN,20910,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,21.0,242.0,3.0,874951617.0,NaN,M,writer,30068,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,239.0,242.0,5.0,889178512.0,39.0,M,NaN,95628,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,111.0,242.0,4.0,891679901.0,57.0,M,NaN,90630,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,129.0,242.0,4.0,883243972.0,36.0,F,marketing,07039,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,131.0,242.0,5.0,883681723.0,59.0,F,administrator,15237,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,226.0,242.0,5.0,883888671.0,28.0,M,student,92103,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
43308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
43309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
43310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
43311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
43329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
43331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

pandas allows us remain only rows with common indexing with the help of using the `join='inner'` argument. Pay attention that using `join='outer'` argument we will get the previous result.

In [13]:
mov13_1_join = pd.concat([mov1, mov32], axis=1, join='inner')
mov13_1_join

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
10000,286,44,3,877532173,27.0,M,student,15217,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
10001,210,44,3,887737710,39.0,M,engineer,03060,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
10002,303,44,4,879484480,19.0,M,NaN,14853,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
10003,194,44,4,879524007,38.0,M,administrator,02154,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
10004,234,44,3,892335707,60.0,M,retired,94702,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
10005,308,44,4,887740451,60.0,M,retired,95076,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
10006,276,44,3,874795637,21.0,M,student,95064,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
10007,7,44,5,891351728,57.0,M,administrator,91344,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
10008,59,44,4,888206048,49.0,M,educator,08403,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
10009,42,44,3,881108548,30.0,M,NaN,17870,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
10010,189,44,4,893266376,32.0,M,NaN,95014,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
10011,92,44,3,875906989,32.0,M,entertainment,80525,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10012,222,44,3,881059877,29.0,M,programmer,27502,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10013,279,44,1,875313514,NaN,M,programmer,85251,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10014,145,44,5,875272132,31.0,M,entertainment,V3N4P,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10015,250,44,4,878090199,29.0,M,executive,95110,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10016,271,44,4,885849357,51.0,M,engineer,22932,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10017,262,44,2,879794446,19.0,F,student,78264,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10018,269,44,3,891449691,31.0,F,librarian,43201,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10019,130,44,4,875801662,20.0,M,none,60115,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10020,256,44,4,882164893,35.0,F,none,39042,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10021,1,44,5,878543541,24.0,M,technician,85711,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10022,56,44,4,892679356,25.0,M,librarian,46260,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10023,232,44,4,888549412,45.0,M,scientist,99709,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10024,151,44,4,879542413,38.0,F,administrator,48103,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10025,184,44,4,889909746,NaN,M,librarian,76013,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10026,311,44,3,884365168,32.0,M,NaN,73071,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10027,313,44,3,891015049,41.0,M,marketing,60035,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10028,316,44,4,880853881,43.0,F,other,77009,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
10029,326,44,1,879875852,41.0,M,administrator,15235,Dolores Claiborne (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33304,933,62,1,874854994,28.0,M,student,48105,Stargate (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
33305,943,62,3,888640003,22.0,M,student,77841,Stargate (1994),1994-01-01,...,0,0,0,0,0,0,0,1,0,0
33306,22,50,5,878887765,25.0,M,writer,40206,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33307,244,50,5,880604379,28.0,M,technician,80525,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33308,298,50,5,884125578,44.0,M,executive,01581,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33309,115,50,5,881172049,31.0,M,engineer,17110,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33310,253,50,4,891628518,26.0,F,librarian,22903,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33311,305,50,5,886321799,23.0,M,programmer,94086,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33312,6,50,4,883600842,42.0,M,executive,98101,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33313,62,50,5,879372216,27.0,F,administrator,97214,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33314,286,50,4,875806869,27.0,M,student,15217,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33315,200,50,5,884128400,40.0,M,programmer,93402,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33316,210,50,5,887731014,39.0,M,engineer,03060,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33317,303,50,5,879466866,19.0,M,student,14853,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33318,194,50,3,879521396,38.0,M,administrator,02154,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33319,291,50,5,874805860,19.0,M,student,44106,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33320,234,50,4,892079237,60.0,M,retired,94702,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33321,119,50,5,874774718,32.0,M,programmer,67401,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33322,299,50,4,877877775,29.0,M,doctor,63108,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33323,308,50,5,887737431,60.0,M,retired,95076,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33324,95,50,5,879197329,31.0,M,administrator,10707,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33325,102,50,4,888801315,38.0,M,programmer,30220,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33326,63,50,4,875747292,31.0,M,marketing,75240,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33327,160,50,4,876767572,27.0,M,programmer,66215,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33328,301,50,5,882074647,24.0,M,student,55439,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33329,290,50,5,880473582,40.0,M,engineer,93550,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33330,97,50,5,884239471,43.0,M,NaN,98006,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33331,157,50,4,886890541,57.0,M,engineer,70808,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33332,276,50,5,880913800,21.0,M,student,95064,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0
33333,7,50,5,891351042,57.0,M,administrator,91344,Star Wars (1977),1977-01-01,...,0,0,0,0,0,0,0,1,0,0

Can you say what rows we will display using `join='inner'` argument for for `mov1` and `mov3` DataFrames?

You may also remain only all `not-null` rows for the left DataFrame using `join_axes` argument

In [14]:
mov13_1_join_2 = pd.concat([mov1, mov3], axis=1, join_axes=[mov1.index])
mov13_1_join_2

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,49.0,M,writer,55105,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,305,242,5,886307828,23.0,M,programmer,94086,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,242,4,883268170,42.0,M,executive,98101,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,234,242,4,891033261,60.0,M,retired,94702,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63,242,3,875747190,31.0,M,marketing,75240,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,181,242,1,878961814,26.0,M,executive,21218,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,201,242,4,884110598,27.0,M,writer,E2A4H,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,249,242,5,879571438,25.0,M,student,84103,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,13,242,2,881515193,47.0,M,educator,29206,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,279,242,3,877756647,33.0,M,programmer,85251,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,145,242,5,875269755,31.0,M,entertainment,V3N4P,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,90,242,4,891382267,60.0,M,educator,78155,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,271,242,4,885844495,51.0,M,engineer,22932,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,18,242,5,880129305,35.0,F,other,37212,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,242,5,889751633,NaN,M,NaN,85711,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,207,242,4,890793823,39.0,M,marketing,92037,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,14,242,4,876964570,45.0,M,scientist,55106,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,113,242,2,875075887,47.0,M,executive,95032,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,123,242,5,879809053,NaN,F,artist,20008,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,296,242,4,884196057,43.0,F,administrator,16803,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,154,242,3,879138235,25.0,M,student,53703,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,270,242,5,876953744,18.0,F,student,63119,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,240,242,5,885775683,23.0,F,educator,20784,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,144,242,4,888103444,53.0,M,NaN,20910,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,21,242,3,874951617,NaN,M,writer,30068,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,239,242,5,889178512,39.0,M,NaN,95628,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,111,242,4,891679901,57.0,M,NaN,90630,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,129,242,4,883243972,36.0,F,marketing,07039,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,131,242,5,883681723,59.0,F,administrator,15237,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,226,242,5,883888671,28.0,M,student,92103,Kolya (1996),1997-01-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33304,933,62,1,874854994,28.0,M,student,48105,Stargate (1994),1994-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33305,943,62,3,888640003,22.0,M,student,77841,Stargate (1994),1994-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33306,22,50,5,878887765,25.0,M,writer,40206,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33307,244,50,5,880604379,28.0,M,technician,80525,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33308,298,50,5,884125578,44.0,M,executive,01581,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33309,115,50,5,881172049,31.0,M,engineer,17110,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33310,253,50,4,891628518,26.0,F,librarian,22903,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33311,305,50,5,886321799,23.0,M,programmer,94086,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33312,6,50,4,883600842,42.0,M,executive,98101,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33313,62,50,5,879372216,27.0,F,administrator,97214,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33314,286,50,4,875806869,27.0,M,student,15217,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33315,200,50,5,884128400,40.0,M,programmer,93402,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33316,210,50,5,887731014,39.0,M,engineer,03060,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33317,303,50,5,879466866,19.0,M,student,14853,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33318,194,50,3,879521396,38.0,M,administrator,02154,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33319,291,50,5,874805860,19.0,M,student,44106,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33320,234,50,4,892079237,60.0,M,retired,94702,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33321,119,50,5,874774718,32.0,M,programmer,67401,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33322,299,50,4,877877775,29.0,M,doctor,63108,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33323,308,50,5,887737431,60.0,M,retired,95076,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33324,95,50,5,879197329,31.0,M,administrator,10707,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33325,102,50,4,888801315,38.0,M,programmer,30220,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33326,63,50,4,875747292,31.0,M,marketing,75240,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33327,160,50,4,876767572,27.0,M,programmer,66215,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33328,301,50,5,882074647,24.0,M,student,55439,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33329,290,50,5,880473582,40.0,M,engineer,93550,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33330,97,50,5,884239471,43.0,M,NaN,98006,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33331,157,50,4,886890541,57.0,M,engineer,70808,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33332,276,50,5,880913800,21.0,M,student,95064,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33333,7,50,5,891351042,57.0,M,administrator,91344,Star Wars (1977),1977-01-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

And at the end of this subparagraph let’s demonstrate the other way of rows appending to a DataFrame

In [15]:
# creating new record
new_row = pd.Series(
    [6,768,5,903268170,42,'M','executive',98101,'Interstellar(2014)','8-Nov-2014',np.NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0], 
    index=['user_id', 'movie_id', 'rating', 'timestamp', 'age', 'gender', 'occupation', 'zip_code', 
           'movie_title', 'release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation',
           'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 
           'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'
          ]
)
mov_all.append(new_row, ignore_index=True).tail(10)

,user_id,movie_id,rating,timestamp,age,gender,occupation,zip_code,movie_title,release_date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
99991,840,1674,4,891211682,39.0,M,artist,55406,Mamma Roma (1962),1962-01-01,...,0,0,0,0,0,0,0,0,0,0
99992,851,1676,2,875731674,NaN,M,other,29646,"War at Home, The (1996)",1996-01-01,...,0,0,0,0,0,0,0,0,0,0
99993,851,1675,3,884222085,18.0,M,other,29646,"Sunchaser, The (1996)",1996-10-25,...,0,0,0,0,0,0,0,0,0,0
99994,854,1677,3,882814368,29.0,F,student,55408,Sweet Nothing (1995),1996-09-20,...,0,0,0,0,0,0,0,0,0,0
99995,863,1679,3,889289491,17.0,M,student,60089,B. Monkey (1998),1998-02-06,...,0,0,0,0,0,1,0,1,0,0
99996,863,1678,1,889289570,NaN,M,student,60089,Mat' i syn (1997),1998-02-06,...,0,0,0,0,0,0,0,0,0,0
99997,863,1680,2,889289570,17.0,M,student,60089,Sliding Doors (1998),1998-01-01,...,0,0,0,0,0,1,0,0,0,0
99998,896,1681,3,887160722,28.0,M,writer,91505,You So Crazy (1994),1994-01-01,...,0,0,0,0,0,0,0,0,0,0
99999,916,1682,3,880845755,27.0,M,engineer,N2L5N,Scream of Stone (Schrei aus Stein) (1991),1996-03-08,...,0,0,0,0,0,0,0,0,0,0
100000,6,768,5,903268170,42.0,M,executive,98101,Interstellar(2014),8-Nov-2014,...,0,0,0,0,0,0,0,0,0,0

In [16]:
movies.loc[55555,:]

user_id                                                       195
movie_id                                                      751
rating                                                          4
timestamp                                               883295500
age                                                            42
gender                                                          M
occupation                                              scientist
zip_code                                                    93555
movie_title                            Tomorrow Never Dies (1997)
release_date                                           1997-01-01
IMDb_URL        http://us.imdb.com/M/title-exact?imdb-title-12...
unknown                                                         0
Action                                                          1
Adventure                                                       0
Animation                                                       0
Childrens                                                       0
Comedy                                                          0
Crime                                                           0
Documentary                                                     0
Drama                                                           0
Fantasy                                                         0
Film-Noir                                                       0
Horror                                                          0
Musical                                                         0
Mystery                                                         0
Romance                                                         1
Sci-Fi                                                          0
Thriller                                                        1
War                                                             0
Western                                                         0
Name: 55555, dtype: object

### Merging and joining

[[back to top]](#Table-of-Contents)

pandas has a powerful and very fast functional for joining two DataFrames at once, which is idiomatically very similar to relational databases like `SQL`. Joining possibility is presented by pandas function `merge` and DataFrame’s method `join`. The first of them joins two DataFrames by one or more columns with some common data remaining at this those rows where defined common column of both DataFrames contains equals content. The second one joins two DataFrames, which have no common columns (with the same names), based on common indexes. It uses `merge` internally for the index-on-index and index-on-column(s) joins, but joins on indexes by default rather than trying to join on common columns.  That’s why, if joining DataFrames have at least one column with the same name, the method `join` won’t work. 

To demonstrate the particularities of work with the function merge and the method join let’s take two DataFrames, `'movieuser'` `'movielense'` , from the beginning of the course

In [17]:
movieuser = pd.read_csv('data/u.user', sep='|',engine='python', names = ['user_id' , 'age' , 'gender' , 'occupation' , 'zip_code'])
movielense = pd.read_csv('data/u.data', sep='\t',engine='python', names = ['user_id', 'movie_id', 'rating', 'timestamp'])

In [18]:
movieuser['timestamp'] = 1
movieuser['timestamp']= movieuser['timestamp'].apply(lambda x: x*movielense.loc[random.randint(0,99999),['timestamp']])
movieuser['age'] = movieuser['age'].map(lambda x: np.nan if not random.randint(0,15) else x)
movieuser['occupation'] = movieuser['occupation'].map(lambda x: np.nan if not random.randint(0,15) else x)
movielense['timestamp'] = movielense['timestamp'].map(lambda x: np.nan if not random.randint(0,15) else x)
movieuser.head(10)

   user_id   age gender     occupation zip_code  timestamp
0        1  24.0      M     technician    85711  882140425
1        2  53.0      F          other    94043  882608107
2        3  23.0      M         writer    32067  892662523
3        4  24.0      M     technician    43537  891397667
4        5  33.0      F          other    15213  878148425
5        6  42.0      M      executive    98101  878974783
6        7  57.0      M  administrator    91344  887742798
7        8  36.0      M  administrator    05201  891240520
8        9  29.0      M        student    01002  874874308
9       10   NaN      M         lawyer    90703  891308946

In [19]:
movielense.head(10)

   user_id  movie_id  rating    timestamp
0      196       242       3  881250949.0
1      186       302       3  891717742.0
2       22       377       1  878887116.0
3      244        51       2  880606923.0
4      166       346       1  886397596.0
5      298       474       4  884182806.0
6      115       265       2          NaN
7      253       465       5  891628467.0
8      305       451       3  886324817.0
9        6        86       3  883603013.0

Let’s join `movieuser` and `movielense` by `user_id` columns

In [20]:
pd.merge(movielense, movieuser, on='user_id')

,user_id,movie_id,rating,timestamp_x,age,gender,occupation,zip_code,timestamp_y
0,196,242,3,881250949.0,49.0,M,writer,55105,875038709
1,196,393,4,881251863.0,49.0,M,writer,55105,875038709
2,196,381,4,881251728.0,49.0,M,writer,55105,875038709
3,196,251,3,881251274.0,49.0,M,writer,55105,875038709
4,196,655,5,881251793.0,49.0,M,writer,55105,875038709
5,196,67,5,881252017.0,49.0,M,writer,55105,875038709
6,196,306,4,881251021.0,49.0,M,writer,55105,875038709
7,196,238,4,881251820.0,49.0,M,writer,55105,875038709
8,196,663,5,881251911.0,49.0,M,writer,55105,875038709
9,196,111,4,881251793.0,49.0,M,writer,55105,875038709
10,196,580,2,881252056.0,49.0,M,writer,55105,875038709
11,196,25,4,881251955.0,49.0,M,writer,55105,875038709
12,196,286,5,881250949.0,49.0,M,writer,55105,875038709
13,196,94,3,881252172.0,49.0,M,writer,55105,875038709
14,196,692,5,881252017.0,49.0,M,writer,55105,875038709
15,196,8,5,881251753.0,49.0,M,writer,55105,875038709
16,196,428,4,881251702.0,49.0,M,writer,55105,875038709
17,196,1118,4,881252128.0,49.0,M,writer,55105,875038709
18,196,70,3,881251842.0,49.0,M,writer,55105,875038709
19,196,66,3,881251911.0,49.0,M,writer,55105,875038709
20,196,257,2,881251577.0,49.0,M,writer,55105,875038709
21,196,108,4,881252110.0,49.0,M,writer,55105,875038709
22,196,202,3,881251728.0,49.0,M,writer,55105,875038709
23,196,340,3,NaN,49.0,M,writer,55105,875038709
24,196,287,3,NaN,49.0,M,writer,55105,875038709
25,196,116,3,881251753.0,49.0,M,writer,55105,875038709
26,196,382,4,881251843.0,49.0,M,writer,55105,875038709
27,196,285,5,881251753.0,49.0,M,writer,55105,875038709
28,196,1241,3,881251642.0,49.0,M,writer,55105,875038709
29,196,1007,4,881251601.0,49.0,M,writer,55105,875038709
...,...,...,...,...,...,...,...,...,...
99970,920,245,2,884220131.0,30.0,F,artist,90008,888522260
99971,920,258,4,884220094.0,30.0,F,artist,90008,888522260
99972,920,340,4,884219993.0,30.0,F,artist,90008,888522260
99973,920,313,5,884219701.0,30.0,F,artist,90008,888522260
99974,920,301,2,884220058.0,30.0,F,artist,90008,888522260
99975,920,286,2,884219953.0,30.0,F,artist,90008,888522260
99976,920,311,3,884219701.0,30.0,F,artist,90008,888522260
99977,920,272,3,884219701.0,30.0,F,artist,90008,888522260
99978,941,147,4,NaN,20.0,M,student,97229,885921597
99979,941,124,5,875048996.0,20.0,M,student,97229,885921597
99980,941,117,5,875048886.0,20.0,M,student,97229,885921597
99981,941,181,5,NaN,20.0,M,student,97229,885921597
99982,941,993,4,NaN,20.0,M,student,97229,885921597
99983,941,258,4,NaN,20.0,M,student,97229,885921597
99984,941,7,4,875048952.0,20.0,M,student,97229,885921597
99985,941,475,4,875049038.0,20.0,M,student,97229,885921597
99986,941,257,4,875048952.0,20.0,M,student,97229,885921597
99987,941,15,4,875049144.0,20.0,M,student,97229,885921597
99988,941,455,4,875049038.0,20.0,M,student,97229,885921597
99989,941,222,2,875049038.0,20.0,M,student,97229,885921597
99990,941,358,2,875048581.0,20.0,M,student,97229,885921597
99991,941,763,3,875048996.0,20.0,M,student,97229,885921597
99992,941,298,5,875048887.0,20.0,M,student,97229,885921597
99993,941,408,5,875048886.0,20.0,M,student,97229,885921597
99994,941,300,4,875048495.0,20.0,M,student,97229,885921597
99995,941,919,5,NaN,20.0,M,student,97229,885921597
99996,941,273,3,875049038.0,20.0,M,student,97229,885921597
99997,941,1,5,875049144.0,20.0,M,student,97229,885921597
99998,941,294,4,875048532.0,20.0,M,student,97229,885921597
99999,941,1007,4,875049077.0,20.0,M,student,97229,885921597

As you may see when both joining DataFrames contains equally called columns they are distinguished by suffixes `_x` and `_y` for the left and the right DataFrames respectively in the result DataFrame. But you may set your own suffixes using argument suffixes

In [21]:
pd.merge(movielense, movieuser, on='user_id', suffixes=('_left', '_right'))

,user_id,movie_id,rating,timestamp_left,age,gender,occupation,zip_code,timestamp_right
0,196,242,3,881250949.0,49.0,M,writer,55105,875038709
1,196,393,4,881251863.0,49.0,M,writer,55105,875038709
2,196,381,4,881251728.0,49.0,M,writer,55105,875038709
3,196,251,3,881251274.0,49.0,M,writer,55105,875038709
4,196,655,5,881251793.0,49.0,M,writer,55105,875038709
5,196,67,5,881252017.0,49.0,M,writer,55105,875038709
6,196,306,4,881251021.0,49.0,M,writer,55105,875038709
7,196,238,4,881251820.0,49.0,M,writer,55105,875038709
8,196,663,5,881251911.0,49.0,M,writer,55105,875038709
9,196,111,4,881251793.0,49.0,M,writer,55105,875038709
10,196,580,2,881252056.0,49.0,M,writer,55105,875038709
11,196,25,4,881251955.0,49.0,M,writer,55105,875038709
12,196,286,5,881250949.0,49.0,M,writer,55105,875038709
13,196,94,3,881252172.0,49.0,M,writer,55105,875038709
14,196,692,5,881252017.0,49.0,M,writer,55105,875038709
15,196,8,5,881251753.0,49.0,M,writer,55105,875038709
16,196,428,4,881251702.0,49.0,M,writer,55105,875038709
17,196,1118,4,881252128.0,49.0,M,writer,55105,875038709
18,196,70,3,881251842.0,49.0,M,writer,55105,875038709
19,196,66,3,881251911.0,49.0,M,writer,55105,875038709
20,196,257,2,881251577.0,49.0,M,writer,55105,875038709
21,196,108,4,881252110.0,49.0,M,writer,55105,875038709
22,196,202,3,881251728.0,49.0,M,writer,55105,875038709
23,196,340,3,NaN,49.0,M,writer,55105,875038709
24,196,287,3,NaN,49.0,M,writer,55105,875038709
25,196,116,3,881251753.0,49.0,M,writer,55105,875038709
26,196,382,4,881251843.0,49.0,M,writer,55105,875038709
27,196,285,5,881251753.0,49.0,M,writer,55105,875038709
28,196,1241,3,881251642.0,49.0,M,writer,55105,875038709
29,196,1007,4,881251601.0,49.0,M,writer,55105,875038709
...,...,...,...,...,...,...,...,...,...
99970,920,245,2,884220131.0,30.0,F,artist,90008,888522260
99971,920,258,4,884220094.0,30.0,F,artist,90008,888522260
99972,920,340,4,884219993.0,30.0,F,artist,90008,888522260
99973,920,313,5,884219701.0,30.0,F,artist,90008,888522260
99974,920,301,2,884220058.0,30.0,F,artist,90008,888522260
99975,920,286,2,884219953.0,30.0,F,artist,90008,888522260
99976,920,311,3,884219701.0,30.0,F,artist,90008,888522260
99977,920,272,3,884219701.0,30.0,F,artist,90008,888522260
99978,941,147,4,NaN,20.0,M,student,97229,885921597
99979,941,124,5,875048996.0,20.0,M,student,97229,885921597
99980,941,117,5,875048886.0,20.0,M,student,97229,885921597
99981,941,181,5,NaN,20.0,M,student,97229,885921597
99982,941,993,4,NaN,20.0,M,student,97229,885921597
99983,941,258,4,NaN,20.0,M,student,97229,885921597
99984,941,7,4,875048952.0,20.0,M,student,97229,885921597
99985,941,475,4,875049038.0,20.0,M,student,97229,885921597
99986,941,257,4,875048952.0,20.0,M,student,97229,885921597
99987,941,15,4,875049144.0,20.0,M,student,97229,885921597
99988,941,455,4,875049038.0,20.0,M,student,97229,885921597
99989,941,222,2,875049038.0,20.0,M,student,97229,885921597
99990,941,358,2,875048581.0,20.0,M,student,97229,885921597
99991,941,763,3,875048996.0,20.0,M,student,97229,885921597
99992,941,298,5,875048887.0,20.0,M,student,97229,885921597
99993,941,408,5,875048886.0,20.0,M,student,97229,885921597
99994,941,300,4,875048495.0,20.0,M,student,97229,885921597
99995,941,919,5,NaN,20.0,M,student,97229,885921597
99996,941,273,3,875049038.0,20.0,M,student,97229,885921597
99997,941,1,5,875049144.0,20.0,M,student,97229,885921597
99998,941,294,4,875048532.0,20.0,M,student,97229,885921597
99999,941,1007,4,875049077.0,20.0,M,student,97229,885921597

Sure, the result of Dataframes’ joining depends on the order which we arrange DataFrames in

In [22]:
pd.merge(movieuser, movielense, on='user_id')

,user_id,age,gender,occupation,zip_code,timestamp_x,movie_id,rating,timestamp_y
0,1,24.0,M,technician,85711,882140425,61,4,878542420.0
1,1,24.0,M,technician,85711,882140425,189,3,888732928.0
2,1,24.0,M,technician,85711,882140425,33,4,878542699.0
3,1,24.0,M,technician,85711,882140425,160,4,875072547.0
4,1,24.0,M,technician,85711,882140425,20,4,887431883.0
5,1,24.0,M,technician,85711,882140425,202,5,875072442.0
6,1,24.0,M,technician,85711,882140425,171,5,NaN
7,1,24.0,M,technician,85711,882140425,265,4,NaN
8,1,24.0,M,technician,85711,882140425,155,2,878542201.0
9,1,24.0,M,technician,85711,882140425,117,3,NaN
10,1,24.0,M,technician,85711,882140425,47,4,875072125.0
11,1,24.0,M,technician,85711,882140425,222,4,878873388.0
12,1,24.0,M,technician,85711,882140425,253,5,874965970.0
13,1,24.0,M,technician,85711,882140425,113,5,878542738.0
14,1,24.0,M,technician,85711,882140425,227,4,876892946.0
15,1,24.0,M,technician,85711,882140425,17,3,875073198.0
16,1,24.0,M,technician,85711,882140425,90,4,878542300.0
17,1,24.0,M,technician,85711,882140425,64,5,875072404.0
18,1,24.0,M,technician,85711,882140425,92,3,876892425.0
19,1,24.0,M,technician,85711,882140425,228,5,NaN
20,1,24.0,M,technician,85711,882140425,266,1,NaN
21,1,24.0,M,technician,85711,882140425,121,4,875071823.0
22,1,24.0,M,technician,85711,882140425,114,5,875072173.0
23,1,24.0,M,technician,85711,882140425,132,4,NaN
24,1,24.0,M,technician,85711,882140425,74,1,889751736.0
25,1,24.0,M,technician,85711,882140425,134,4,875073067.0
26,1,24.0,M,technician,85711,882140425,98,4,875072404.0
27,1,24.0,M,technician,85711,882140425,186,4,875073128.0
28,1,24.0,M,technician,85711,882140425,221,5,NaN
29,1,24.0,M,technician,85711,882140425,84,4,875072923.0
...,...,...,...,...,...,...,...,...,...
99970,943,22.0,M,student,77841,887477191,50,4,875501835.0
99971,943,22.0,M,student,77841,887477191,367,4,888639679.0
99972,943,22.0,M,student,77841,887477191,585,1,NaN
99973,943,22.0,M,student,77841,887477191,427,4,888639147.0
99974,943,22.0,M,student,77841,887477191,185,2,NaN
99975,943,22.0,M,student,77841,887477191,403,4,888639746.0
99976,943,22.0,M,student,77841,887477191,401,1,888639867.0
99977,943,22.0,M,student,77841,887477191,576,4,888640106.0
99978,943,22.0,M,student,77841,887477191,717,4,875502116.0
99979,943,22.0,M,student,77841,887477191,216,4,888639327.0
99980,943,22.0,M,student,77841,887477191,763,4,875501813.0
99981,943,22.0,M,student,77841,887477191,69,5,888639427.0
99982,943,22.0,M,student,77841,887477191,168,2,888638897.0
99983,943,22.0,M,student,77841,887477191,526,4,888639523.0
99984,943,22.0,M,student,77841,887477191,196,5,888639192.0
99985,943,22.0,M,student,77841,887477191,9,3,875501960.0
99986,943,22.0,M,student,77841,887477191,672,5,888640125.0
99987,943,22.0,M,student,77841,887477191,38,3,888640208.0
99988,943,22.0,M,student,77841,887477191,274,3,875502074.0
99989,943,22.0,M,student,77841,887477191,568,3,888639042.0
99990,943,22.0,M,student,77841,887477191,139,1,888640027.0
99991,943,22.0,M,student,77841,887477191,825,3,875502283.0
99992,943,22.0,M,student,77841,887477191,193,4,888639093.0
99993,943,22.0,M,student,77841,887477191,470,4,888639814.0
99994,943,22.0,M,student,77841,887477191,1047,2,875502146.0
99995,943,22.0,M,student,77841,887477191,415,1,888640027.0
99996,943,22.0,M,student,77841,887477191,219,4,888639575.0
99997,943,22.0,M,student,77841,887477191,796,3,888640311.0
99998,943,22.0,M,student,77841,887477191,739,4,888639929.0
99999,943,22.0,M,student,77841,887477191,391,2,888640291.0

Sometimes it is important to save the same indexing of joined DataFrame as in the left DataFrame or right DataFrame (or both). For this aim the arguments `left_index` and `right_index` are specified in pandas (by default they both are equal to `False`)

In [23]:
pd.merge(movieuser, movielense, on='user_id', left_index=True)

,user_id,age,gender,occupation,zip_code,timestamp_x,movie_id,rating,timestamp_y
202,1,24.0,M,technician,85711,882140425,61,4,878542420.0
305,1,24.0,M,technician,85711,882140425,189,3,888732928.0
333,1,24.0,M,technician,85711,882140425,33,4,878542699.0
334,1,24.0,M,technician,85711,882140425,160,4,875072547.0
478,1,24.0,M,technician,85711,882140425,20,4,887431883.0
639,1,24.0,M,technician,85711,882140425,202,5,875072442.0
687,1,24.0,M,technician,85711,882140425,171,5,NaN
820,1,24.0,M,technician,85711,882140425,265,4,NaN
933,1,24.0,M,technician,85711,882140425,155,2,878542201.0
972,1,24.0,M,technician,85711,882140425,117,3,NaN
1167,1,24.0,M,technician,85711,882140425,47,4,875072125.0
1299,1,24.0,M,technician,85711,882140425,222,4,878873388.0
1382,1,24.0,M,technician,85711,882140425,253,5,874965970.0
1440,1,24.0,M,technician,85711,882140425,113,5,878542738.0
1617,1,24.0,M,technician,85711,882140425,227,4,876892946.0
1780,1,24.0,M,technician,85711,882140425,17,3,875073198.0
1989,1,24.0,M,technician,85711,882140425,90,4,878542300.0
2328,1,24.0,M,technician,85711,882140425,64,5,875072404.0
3049,1,24.0,M,technician,85711,882140425,92,3,876892425.0
3059,1,24.0,M,technician,85711,882140425,228,5,NaN
3171,1,24.0,M,technician,85711,882140425,266,1,NaN
3191,1,24.0,M,technician,85711,882140425,121,4,875071823.0
3234,1,24.0,M,technician,85711,882140425,114,5,875072173.0
3246,1,24.0,M,technician,85711,882140425,132,4,NaN
3248,1,24.0,M,technician,85711,882140425,74,1,889751736.0
3260,1,24.0,M,technician,85711,882140425,134,4,875073067.0
3358,1,24.0,M,technician,85711,882140425,98,4,875072404.0
3377,1,24.0,M,technician,85711,882140425,186,4,875073128.0
3431,1,24.0,M,technician,85711,882140425,221,5,NaN
3710,1,24.0,M,technician,85711,882140425,84,4,875072923.0
...,...,...,...,...,...,...,...,...,...
96160,943,22.0,M,student,77841,887477191,50,4,875501835.0
96223,943,22.0,M,student,77841,887477191,367,4,888639679.0
96489,943,22.0,M,student,77841,887477191,585,1,NaN
96823,943,22.0,M,student,77841,887477191,427,4,888639147.0
96962,943,22.0,M,student,77841,887477191,185,2,NaN
96974,943,22.0,M,student,77841,887477191,403,4,888639746.0
96983,943,22.0,M,student,77841,887477191,401,1,888639867.0
97331,943,22.0,M,student,77841,887477191,576,4,888640106.0
97499,943,22.0,M,student,77841,887477191,717,4,875502116.0
97612,943,22.0,M,student,77841,887477191,216,4,888639327.0
97674,943,22.0,M,student,77841,887477191,763,4,875501813.0
97804,943,22.0,M,student,77841,887477191,69,5,888639427.0
97845,943,22.0,M,student,77841,887477191,168,2,888638897.0
98251,943,22.0,M,student,77841,887477191,526,4,888639523.0
98286,943,22.0,M,student,77841,887477191,196,5,888639192.0
98335,943,22.0,M,student,77841,887477191,9,3,875501960.0
98422,943,22.0,M,student,77841,887477191,672,5,888640125.0
98466,943,22.0,M,student,77841,887477191,38,3,888640208.0
98549,943,22.0,M,student,77841,887477191,274,3,875502074.0
98707,943,22.0,M,student,77841,887477191,568,3,888639042.0
98752,943,22.0,M,student,77841,887477191,139,1,888640027.0
99014,943,22.0,M,student,77841,887477191,825,3,875502283.0
99021,943,22.0,M,student,77841,887477191,193,4,888639093.0
99091,943,22.0,M,student,77841,887477191,470,4,888639814.0
99133,943,22.0,M,student,77841,887477191,1047,2,875502146.0
99171,943,22.0,M,student,77841,887477191,415,1,888640027.0
99319,943,22.0,M,student,77841,887477191,219,4,888639575.0
99611,943,22.0,M,student,77841,887477191,796,3,888640311.0
99832,943,22.0,M,student,77841,887477191,739,4,888639929.0
99979,943,22.0,M,student,77841,887477191,391,2,888640291.0

In [24]:
pd.merge(movieuser, movielense, on='user_id', right_index=True)

,user_id,age,gender,occupation,zip_code,timestamp_x,movie_id,rating,timestamp_y
0,1,24.0,M,technician,85711,882140425,61,4,878542420.0
0,1,24.0,M,technician,85711,882140425,189,3,888732928.0
0,1,24.0,M,technician,85711,882140425,33,4,878542699.0
0,1,24.0,M,technician,85711,882140425,160,4,875072547.0
0,1,24.0,M,technician,85711,882140425,20,4,887431883.0
0,1,24.0,M,technician,85711,882140425,202,5,875072442.0
0,1,24.0,M,technician,85711,882140425,171,5,NaN
0,1,24.0,M,technician,85711,882140425,265,4,NaN
0,1,24.0,M,technician,85711,882140425,155,2,878542201.0
0,1,24.0,M,technician,85711,882140425,117,3,NaN
0,1,24.0,M,technician,85711,882140425,47,4,875072125.0
0,1,24.0,M,technician,85711,882140425,222,4,878873388.0
0,1,24.0,M,technician,85711,882140425,253,5,874965970.0
0,1,24.0,M,technician,85711,882140425,113,5,878542738.0
0,1,24.0,M,technician,85711,882140425,227,4,876892946.0
0,1,24.0,M,technician,85711,882140425,17,3,875073198.0
0,1,24.0,M,technician,85711,882140425,90,4,878542300.0
0,1,24.0,M,technician,85711,882140425,64,5,875072404.0
0,1,24.0,M,technician,85711,882140425,92,3,876892425.0
0,1,24.0,M,technician,85711,882140425,228,5,NaN
0,1,24.0,M,technician,85711,882140425,266,1,NaN
0,1,24.0,M,technician,85711,882140425,121,4,875071823.0
0,1,24.0,M,technician,85711,882140425,114,5,875072173.0
0,1,24.0,M,technician,85711,882140425,132,4,NaN
0,1,24.0,M,technician,85711,882140425,74,1,889751736.0
0,1,24.0,M,technician,85711,882140425,134,4,875073067.0
0,1,24.0,M,technician,85711,882140425,98,4,875072404.0
0,1,24.0,M,technician,85711,882140425,186,4,875073128.0
0,1,24.0,M,technician,85711,882140425,221,5,NaN
0,1,24.0,M,technician,85711,882140425,84,4,875072923.0
...,...,...,...,...,...,...,...,...,...
942,943,22.0,M,student,77841,887477191,50,4,875501835.0
942,943,22.0,M,student,77841,887477191,367,4,888639679.0
942,943,22.0,M,student,77841,887477191,585,1,NaN
942,943,22.0,M,student,77841,887477191,427,4,888639147.0
942,943,22.0,M,student,77841,887477191,185,2,NaN
942,943,22.0,M,student,77841,887477191,403,4,888639746.0
942,943,22.0,M,student,77841,887477191,401,1,888639867.0
942,943,22.0,M,student,77841,887477191,576,4,888640106.0
942,943,22.0,M,student,77841,887477191,717,4,875502116.0
942,943,22.0,M,student,77841,887477191,216,4,888639327.0
942,943,22.0,M,student,77841,887477191,763,4,875501813.0
942,943,22.0,M,student,77841,887477191,69,5,888639427.0
942,943,22.0,M,student,77841,887477191,168,2,888638897.0
942,943,22.0,M,student,77841,887477191,526,4,888639523.0
942,943,22.0,M,student,77841,887477191,196,5,888639192.0
942,943,22.0,M,student,77841,887477191,9,3,875501960.0
942,943,22.0,M,student,77841,887477191,672,5,888640125.0
942,943,22.0,M,student,77841,887477191,38,3,888640208.0
942,943,22.0,M,student,77841,887477191,274,3,875502074.0
942,943,22.0,M,student,77841,887477191,568,3,888639042.0
942,943,22.0,M,student,77841,887477191,139,1,888640027.0
942,943,22.0,M,student,77841,887477191,825,3,875502283.0
942,943,22.0,M,student,77841,887477191,193,4,888639093.0
942,943,22.0,M,student,77841,887477191,470,4,888639814.0
942,943,22.0,M,student,77841,887477191,1047,2,875502146.0
942,943,22.0,M,student,77841,887477191,415,1,888640027.0
942,943,22.0,M,student,77841,887477191,219,4,888639575.0
942,943,22.0,M,student,77841,887477191,796,3,888640311.0
942,943,22.0,M,student,77841,887477191,739,4,888639929.0
942,943,22.0,M,student,77841,887477191,391,2,888640291.0

When both `left_index` and `right_index` are equal `True` the function `merge` works exactly as at using of `how='left'` argument (see below).
As we have said above, you may join DataFrames by two or more columns also

In [25]:
pd.merge(movieuser, movielense, on=['user_id', 'timestamp'])

Empty DataFrame
Columns: [user_id, age, gender, occupation, zip_code, timestamp, movie_id, rating]
Index: []

The how argument of merge function specifies how to determine which keys should be included in the resulting table. If a key combination does not appear in either the left or right tables, the values in the joined table will be `NaN`. Argument how can be equal to one of four possible variants
`“inner”` (the same as `INNER JOIN` for `SQL`) – uses intersection of keys from both DataFrames; it is the default value of how

In [26]:
pd.merge(movieuser, movielense, how="inner", on='timestamp')

,user_id_x,age,gender,occupation,zip_code,timestamp,user_id_y,movie_id,rating
0,1,24.0,M,technician,85711,882140425,13,59,4
1,1,24.0,M,technician,85711,882140425,13,650,2
2,1,24.0,M,technician,85711,882140425,13,522,5
3,2,53.0,F,other,94043,882608107,592,257,4
4,2,53.0,F,other,94043,882608107,592,544,4
5,2,53.0,F,other,94043,882608107,592,475,5
6,2,53.0,F,other,94043,882608107,592,458,3
7,2,53.0,F,other,94043,882608107,592,628,3
8,3,23.0,M,writer,32067,892662523,796,176,5
9,3,23.0,M,writer,32067,892662523,796,22,4
10,3,23.0,M,writer,32067,892662523,796,28,3
11,3,23.0,M,writer,32067,892662523,796,96,4
12,4,24.0,M,technician,43537,891397667,704,209,3
13,4,24.0,M,technician,43537,891397667,704,657,4
14,4,24.0,M,technician,43537,891397667,704,661,4
15,4,24.0,M,technician,43537,891397667,704,648,5
16,4,24.0,M,technician,43537,891397667,704,639,2
17,4,24.0,M,technician,43537,891397667,704,481,5
18,5,33.0,F,other,15213,878148425,606,121,4
19,5,33.0,F,other,15213,878148425,606,284,4
20,6,42.0,M,executive,98101,878974783,267,50,5
21,6,42.0,M,executive,98101,878974783,267,464,5
22,6,42.0,M,executive,98101,878974783,267,1073,5
23,6,42.0,M,executive,98101,878974783,267,474,5
24,6,42.0,M,executive,98101,878974783,267,172,5
25,6,42.0,M,executive,98101,878974783,267,408,5
26,6,42.0,M,executive,98101,878974783,267,206,5
27,6,42.0,M,executive,98101,878974783,267,153,5
28,6,42.0,M,executive,98101,878974783,267,1240,5
29,6,42.0,M,executive,98101,878974783,267,181,5
...,...,...,...,...,...,...,...,...,...
2672,937,48.0,M,educator,98072,884287731,168,121,4
2673,938,38.0,F,technician,55038,891500028,782,1390,3
2674,938,38.0,F,technician,55038,891500028,782,1389,3
2675,938,38.0,F,technician,55038,891500028,782,1379,3
2676,938,38.0,F,technician,55038,891500028,782,515,3
2677,938,38.0,F,technician,55038,891500028,782,1251,3
2678,938,38.0,F,technician,55038,891500028,782,1302,3
2679,938,38.0,F,technician,55038,891500028,782,1385,4
2680,938,38.0,F,technician,55038,891500028,782,1388,3
2681,938,38.0,F,technician,55038,891500028,782,1590,3
2682,938,38.0,F,technician,55038,891500028,782,1589,3
2683,939,26.0,F,student,33319,891964230,33,872,3
2684,939,26.0,F,student,33319,891964230,33,879,3
2685,939,26.0,F,student,33319,891964230,33,880,3
2686,940,32.0,M,administrator,02215,885075211,746,128,3
2687,940,32.0,M,administrator,02215,885075211,746,399,3
2688,940,32.0,M,administrator,02215,885075211,746,144,5
2689,940,32.0,M,administrator,02215,885075211,746,568,4
2690,940,32.0,M,administrator,02215,885075211,746,22,4
2691,940,32.0,M,administrator,02215,885075211,746,210,5
2692,941,20.0,M,student,97229,885921597,940,168,3
2693,941,20.0,M,student,97229,885921597,940,213,4
2694,941,20.0,M,student,97229,885921597,940,7,4
2695,942,48.0,F,librarian,78209,874786686,276,246,4
2696,942,48.0,F,librarian,78209,874786686,276,147,4
2697,942,48.0,F,librarian,78209,874786686,276,410,4
2698,942,48.0,F,librarian,78209,874786686,276,25,4
2699,942,48.0,F,librarian,78209,874786686,276,109,4
2700,942,48.0,F,librarian,78209,874786686,276,293,4
2701,943,22.0,M,student,77841,887477191,655,1010,3

`“outer”` (the same as `FULL OUTER JOIN` for `SQL`) – uses union of keys from both DataFrames

In [27]:
pd.merge(movieuser, movielense, how="outer", on='timestamp')

,user_id_x,age,gender,occupation,zip_code,timestamp,user_id_y,movie_id,rating
0,1.0,24.0,M,technician,85711,882140425.0,13.0,59.0,4.0
1,1.0,24.0,M,technician,85711,882140425.0,13.0,650.0,2.0
2,1.0,24.0,M,technician,85711,882140425.0,13.0,522.0,5.0
3,2.0,53.0,F,other,94043,882608107.0,592.0,257.0,4.0
4,2.0,53.0,F,other,94043,882608107.0,592.0,544.0,4.0
5,2.0,53.0,F,other,94043,882608107.0,592.0,475.0,5.0
6,2.0,53.0,F,other,94043,882608107.0,592.0,458.0,3.0
7,2.0,53.0,F,other,94043,882608107.0,592.0,628.0,3.0
8,3.0,23.0,M,writer,32067,892662523.0,796.0,176.0,5.0
9,3.0,23.0,M,writer,32067,892662523.0,796.0,22.0,4.0
10,3.0,23.0,M,writer,32067,892662523.0,796.0,28.0,3.0
11,3.0,23.0,M,writer,32067,892662523.0,796.0,96.0,4.0
12,4.0,24.0,M,technician,43537,891397667.0,704.0,209.0,3.0
13,4.0,24.0,M,technician,43537,891397667.0,704.0,657.0,4.0
14,4.0,24.0,M,technician,43537,891397667.0,704.0,661.0,4.0
15,4.0,24.0,M,technician,43537,891397667.0,704.0,648.0,5.0
16,4.0,24.0,M,technician,43537,891397667.0,704.0,639.0,2.0
17,4.0,24.0,M,technician,43537,891397667.0,704.0,481.0,5.0
18,5.0,33.0,F,other,15213,878148425.0,606.0,121.0,4.0
19,5.0,33.0,F,other,15213,878148425.0,606.0,284.0,4.0
20,6.0,42.0,M,executive,98101,878974783.0,267.0,50.0,5.0
21,6.0,42.0,M,executive,98101,878974783.0,267.0,464.0,5.0
22,6.0,42.0,M,executive,98101,878974783.0,267.0,1073.0,5.0
23,6.0,42.0,M,executive,98101,878974783.0,267.0,474.0,5.0
24,6.0,42.0,M,executive,98101,878974783.0,267.0,172.0,5.0
25,6.0,42.0,M,executive,98101,878974783.0,267.0,408.0,5.0
26,6.0,42.0,M,executive,98101,878974783.0,267.0,206.0,5.0
27,6.0,42.0,M,executive,98101,878974783.0,267.0,153.0,5.0
28,6.0,42.0,M,executive,98101,878974783.0,267.0,1240.0,5.0
29,6.0,42.0,M,executive,98101,878974783.0,267.0,181.0,5.0
...,...,...,...,...,...,...,...,...,...
100037,NaN,NaN,NaN,NaN,NaN,880077951.0,867.0,748.0,4.0
100038,NaN,NaN,NaN,NaN,NaN,883975358.0,693.0,1136.0,3.0
100039,NaN,NaN,NaN,NaN,NaN,878849929.0,749.0,636.0,4.0
100040,NaN,NaN,NaN,NaN,NaN,891961856.0,851.0,1013.0,2.0
100041,NaN,NaN,NaN,NaN,NaN,884472229.0,935.0,117.0,4.0
100042,NaN,NaN,NaN,NaN,NaN,891033623.0,835.0,174.0,5.0
100043,NaN,NaN,NaN,NaN,NaN,888872089.0,593.0,223.0,5.0
100044,NaN,NaN,NaN,NaN,NaN,876243854.0,764.0,281.0,3.0
100045,NaN,NaN,NaN,NaN,NaN,891455901.0,741.0,696.0,3.0
100046,NaN,NaN,NaN,NaN,NaN,879534973.0,930.0,410.0,3.0
100047,NaN,NaN,NaN,NaN,NaN,876550372.0,554.0,172.0,5.0
100048,NaN,NaN,NaN,NaN,NaN,891036530.0,931.0,257.0,4.0
100049,NaN,NaN,NaN,NaN,NaN,891031329.0,903.0,50.0,5.0
100050,NaN,NaN,NaN,NaN,NaN,879437997.0,895.0,100.0,4.0
100051,NaN,NaN,NaN,NaN,NaN,880525815.0,379.0,621.0,4.0
100052,NaN,NaN,NaN,NaN,NaN,880474311.0,577.0,176.0,5.0
100053,NaN,NaN,NaN,NaN,NaN,891362901.0,780.0,313.0,5.0
100054,NaN,NaN,NaN,NaN,NaN,891494783.0,363.0,181.0,5.0
100055,NaN,NaN,NaN,NaN,NaN,879303953.0,862.0,120.0,3.0
100056,NaN,NaN,NaN,NaN,NaN,880507042.0,563.0,566.0,4.0
100057,NaN,NaN,NaN,NaN,NaN,891817521.0,655.0,913.0,4.0
100058,NaN,NaN,NaN,NaN,NaN,880182460.0,889.0,2.0,3.0
100059,NaN,NaN,NaN,NaN,NaN,889123221.0,193.0,690.0,4.0
100060,NaN,NaN,NaN,NaN,NaN,880740136.0,621.0,809.0,4.0
100061,NaN,NaN,NaN,NaN,NaN,886832419.0,936.0,287.0,4.0
100062,NaN,NaN,NaN,NaN,NaN,876037121.0,661.0,762.0,2.0
100063,NaN,NaN,NaN,NaN,NaN,888640291.0,943.0,391.0,2.0
100064,NaN,NaN,NaN,NaN,NaN,888637503.0,495.0,1091.0,4.0
100065,NaN,NaN,NaN,NaN,NaN,882388897.0,806.0,421.0,4.0
100066,NaN,NaN,NaN,NaN,NaN,880175444.0,880.0,476.0,3.0

`“left”` (the same as `LEFT OUTER JOIN` for `SQL`) – uses keys from left DataFrame only

In [28]:
pd.merge(movieuser, movielense, how="left", on='timestamp')

,user_id_x,age,gender,occupation,zip_code,timestamp,user_id_y,movie_id,rating
0,1,24.0,M,technician,85711,882140425,13.0,59.0,4.0
1,1,24.0,M,technician,85711,882140425,13.0,650.0,2.0
2,1,24.0,M,technician,85711,882140425,13.0,522.0,5.0
3,2,53.0,F,other,94043,882608107,592.0,257.0,4.0
4,2,53.0,F,other,94043,882608107,592.0,544.0,4.0
5,2,53.0,F,other,94043,882608107,592.0,475.0,5.0
6,2,53.0,F,other,94043,882608107,592.0,458.0,3.0
7,2,53.0,F,other,94043,882608107,592.0,628.0,3.0
8,3,23.0,M,writer,32067,892662523,796.0,176.0,5.0
9,3,23.0,M,writer,32067,892662523,796.0,22.0,4.0
10,3,23.0,M,writer,32067,892662523,796.0,28.0,3.0
11,3,23.0,M,writer,32067,892662523,796.0,96.0,4.0
12,4,24.0,M,technician,43537,891397667,704.0,209.0,3.0
13,4,24.0,M,technician,43537,891397667,704.0,657.0,4.0
14,4,24.0,M,technician,43537,891397667,704.0,661.0,4.0
15,4,24.0,M,technician,43537,891397667,704.0,648.0,5.0
16,4,24.0,M,technician,43537,891397667,704.0,639.0,2.0
17,4,24.0,M,technician,43537,891397667,704.0,481.0,5.0
18,5,33.0,F,other,15213,878148425,606.0,121.0,4.0
19,5,33.0,F,other,15213,878148425,606.0,284.0,4.0
20,6,42.0,M,executive,98101,878974783,267.0,50.0,5.0
21,6,42.0,M,executive,98101,878974783,267.0,464.0,5.0
22,6,42.0,M,executive,98101,878974783,267.0,1073.0,5.0
23,6,42.0,M,executive,98101,878974783,267.0,474.0,5.0
24,6,42.0,M,executive,98101,878974783,267.0,172.0,5.0
25,6,42.0,M,executive,98101,878974783,267.0,408.0,5.0
26,6,42.0,M,executive,98101,878974783,267.0,206.0,5.0
27,6,42.0,M,executive,98101,878974783,267.0,153.0,5.0
28,6,42.0,M,executive,98101,878974783,267.0,1240.0,5.0
29,6,42.0,M,executive,98101,878974783,267.0,181.0,5.0
...,...,...,...,...,...,...,...,...,...
2688,937,48.0,M,educator,98072,884287731,168.0,121.0,4.0
2689,938,38.0,F,technician,55038,891500028,782.0,1390.0,3.0
2690,938,38.0,F,technician,55038,891500028,782.0,1389.0,3.0
2691,938,38.0,F,technician,55038,891500028,782.0,1379.0,3.0
2692,938,38.0,F,technician,55038,891500028,782.0,515.0,3.0
2693,938,38.0,F,technician,55038,891500028,782.0,1251.0,3.0
2694,938,38.0,F,technician,55038,891500028,782.0,1302.0,3.0
2695,938,38.0,F,technician,55038,891500028,782.0,1385.0,4.0
2696,938,38.0,F,technician,55038,891500028,782.0,1388.0,3.0
2697,938,38.0,F,technician,55038,891500028,782.0,1590.0,3.0
2698,938,38.0,F,technician,55038,891500028,782.0,1589.0,3.0
2699,939,26.0,F,student,33319,891964230,33.0,872.0,3.0
2700,939,26.0,F,student,33319,891964230,33.0,879.0,3.0
2701,939,26.0,F,student,33319,891964230,33.0,880.0,3.0
2702,940,32.0,M,administrator,02215,885075211,746.0,128.0,3.0
2703,940,32.0,M,administrator,02215,885075211,746.0,399.0,3.0
2704,940,32.0,M,administrator,02215,885075211,746.0,144.0,5.0
2705,940,32.0,M,administrator,02215,885075211,746.0,568.0,4.0
2706,940,32.0,M,administrator,02215,885075211,746.0,22.0,4.0
2707,940,32.0,M,administrator,02215,885075211,746.0,210.0,5.0
2708,941,20.0,M,student,97229,885921597,940.0,168.0,3.0
2709,941,20.0,M,student,97229,885921597,940.0,213.0,4.0
2710,941,20.0,M,student,97229,885921597,940.0,7.0,4.0
2711,942,48.0,F,librarian,78209,874786686,276.0,246.0,4.0
2712,942,48.0,F,librarian,78209,874786686,276.0,147.0,4.0
2713,942,48.0,F,librarian,78209,874786686,276.0,410.0,4.0
2714,942,48.0,F,librarian,78209,874786686,276.0,25.0,4.0
2715,942,48.0,F,librarian,78209,874786686,276.0,109.0,4.0
2716,942,48.0,F,librarian,78209,874786686,276.0,293.0,4.0
2717,943,22.0,M,student,77841,887477191,655.0,1010.0,3.0

`“right”` (the same as `RIGHT OUTER JOIN` for `SQL`) – uses keys from right  DataFrame only

In [29]:
pd.merge(movieuser, movielense, how="right", on='timestamp')

,user_id_x,age,gender,occupation,zip_code,timestamp,user_id_y,movie_id,rating
0,1.0,24.0,M,technician,85711,882140425.0,13,59,4
1,1.0,24.0,M,technician,85711,882140425.0,13,650,2
2,1.0,24.0,M,technician,85711,882140425.0,13,522,5
3,2.0,53.0,F,other,94043,882608107.0,592,257,4
4,2.0,53.0,F,other,94043,882608107.0,592,544,4
5,2.0,53.0,F,other,94043,882608107.0,592,475,5
6,2.0,53.0,F,other,94043,882608107.0,592,458,3
7,2.0,53.0,F,other,94043,882608107.0,592,628,3
8,3.0,23.0,M,writer,32067,892662523.0,796,176,5
9,3.0,23.0,M,writer,32067,892662523.0,796,22,4
10,3.0,23.0,M,writer,32067,892662523.0,796,28,3
11,3.0,23.0,M,writer,32067,892662523.0,796,96,4
12,4.0,24.0,M,technician,43537,891397667.0,704,209,3
13,4.0,24.0,M,technician,43537,891397667.0,704,657,4
14,4.0,24.0,M,technician,43537,891397667.0,704,661,4
15,4.0,24.0,M,technician,43537,891397667.0,704,648,5
16,4.0,24.0,M,technician,43537,891397667.0,704,639,2
17,4.0,24.0,M,technician,43537,891397667.0,704,481,5
18,5.0,33.0,F,other,15213,878148425.0,606,121,4
19,5.0,33.0,F,other,15213,878148425.0,606,284,4
20,6.0,42.0,M,executive,98101,878974783.0,267,50,5
21,6.0,42.0,M,executive,98101,878974783.0,267,464,5
22,6.0,42.0,M,executive,98101,878974783.0,267,1073,5
23,6.0,42.0,M,executive,98101,878974783.0,267,474,5
24,6.0,42.0,M,executive,98101,878974783.0,267,172,5
25,6.0,42.0,M,executive,98101,878974783.0,267,408,5
26,6.0,42.0,M,executive,98101,878974783.0,267,206,5
27,6.0,42.0,M,executive,98101,878974783.0,267,153,5
28,6.0,42.0,M,executive,98101,878974783.0,267,1240,5
29,6.0,42.0,M,executive,98101,878974783.0,267,181,5
...,...,...,...,...,...,...,...,...,...
100021,NaN,NaN,NaN,NaN,NaN,880077951.0,867,748,4
100022,NaN,NaN,NaN,NaN,NaN,883975358.0,693,1136,3
100023,NaN,NaN,NaN,NaN,NaN,878849929.0,749,636,4
100024,NaN,NaN,NaN,NaN,NaN,891961856.0,851,1013,2
100025,NaN,NaN,NaN,NaN,NaN,884472229.0,935,117,4
100026,NaN,NaN,NaN,NaN,NaN,891033623.0,835,174,5
100027,NaN,NaN,NaN,NaN,NaN,888872089.0,593,223,5
100028,NaN,NaN,NaN,NaN,NaN,876243854.0,764,281,3
100029,NaN,NaN,NaN,NaN,NaN,891455901.0,741,696,3
100030,NaN,NaN,NaN,NaN,NaN,879534973.0,930,410,3
100031,NaN,NaN,NaN,NaN,NaN,876550372.0,554,172,5
100032,NaN,NaN,NaN,NaN,NaN,891036530.0,931,257,4
100033,NaN,NaN,NaN,NaN,NaN,891031329.0,903,50,5
100034,NaN,NaN,NaN,NaN,NaN,879437997.0,895,100,4
100035,NaN,NaN,NaN,NaN,NaN,880525815.0,379,621,4
100036,NaN,NaN,NaN,NaN,NaN,880474311.0,577,176,5
100037,NaN,NaN,NaN,NaN,NaN,891362901.0,780,313,5
100038,NaN,NaN,NaN,NaN,NaN,891494783.0,363,181,5
100039,NaN,NaN,NaN,NaN,NaN,879303953.0,862,120,3
100040,NaN,NaN,NaN,NaN,NaN,880507042.0,563,566,4
100041,NaN,NaN,NaN,NaN,NaN,891817521.0,655,913,4
100042,NaN,NaN,NaN,NaN,NaN,880182460.0,889,2,3
100043,NaN,NaN,NaN,NaN,NaN,889123221.0,193,690,4
100044,NaN,NaN,NaN,NaN,NaN,880740136.0,621,809,4
100045,NaN,NaN,NaN,NaN,NaN,886832419.0,936,287,4
100046,NaN,NaN,NaN,NaN,NaN,876037121.0,661,762,2
100047,NaN,NaN,NaN,NaN,NaN,888640291.0,943,391,2
100048,NaN,NaN,NaN,NaN,NaN,888637503.0,495,1091,4
100049,NaN,NaN,NaN,NaN,NaN,882388897.0,806,421,4
100050,NaN,NaN,NaN,NaN,NaN,880175444.0,880,476,3

Besides, pandas allows to join DataFrames which has no equally called column or to join by columns with different names. To make this you should use arguments `left_on` and `right_on`

In [30]:
pd.merge(movieuser, movielense, left_on='timestamp', right_on='timestamp')

,user_id_x,age,gender,occupation,zip_code,timestamp,user_id_y,movie_id,rating
0,1,24.0,M,technician,85711,882140425,13,59,4
1,1,24.0,M,technician,85711,882140425,13,650,2
2,1,24.0,M,technician,85711,882140425,13,522,5
3,2,53.0,F,other,94043,882608107,592,257,4
4,2,53.0,F,other,94043,882608107,592,544,4
5,2,53.0,F,other,94043,882608107,592,475,5
6,2,53.0,F,other,94043,882608107,592,458,3
7,2,53.0,F,other,94043,882608107,592,628,3
8,3,23.0,M,writer,32067,892662523,796,176,5
9,3,23.0,M,writer,32067,892662523,796,22,4
10,3,23.0,M,writer,32067,892662523,796,28,3
11,3,23.0,M,writer,32067,892662523,796,96,4
12,4,24.0,M,technician,43537,891397667,704,209,3
13,4,24.0,M,technician,43537,891397667,704,657,4
14,4,24.0,M,technician,43537,891397667,704,661,4
15,4,24.0,M,technician,43537,891397667,704,648,5
16,4,24.0,M,technician,43537,891397667,704,639,2
17,4,24.0,M,technician,43537,891397667,704,481,5
18,5,33.0,F,other,15213,878148425,606,121,4
19,5,33.0,F,other,15213,878148425,606,284,4
20,6,42.0,M,executive,98101,878974783,267,50,5
21,6,42.0,M,executive,98101,878974783,267,464,5
22,6,42.0,M,executive,98101,878974783,267,1073,5
23,6,42.0,M,executive,98101,878974783,267,474,5
24,6,42.0,M,executive,98101,878974783,267,172,5
25,6,42.0,M,executive,98101,878974783,267,408,5
26,6,42.0,M,executive,98101,878974783,267,206,5
27,6,42.0,M,executive,98101,878974783,267,153,5
28,6,42.0,M,executive,98101,878974783,267,1240,5
29,6,42.0,M,executive,98101,878974783,267,181,5
...,...,...,...,...,...,...,...,...,...
2672,937,48.0,M,educator,98072,884287731,168,121,4
2673,938,38.0,F,technician,55038,891500028,782,1390,3
2674,938,38.0,F,technician,55038,891500028,782,1389,3
2675,938,38.0,F,technician,55038,891500028,782,1379,3
2676,938,38.0,F,technician,55038,891500028,782,515,3
2677,938,38.0,F,technician,55038,891500028,782,1251,3
2678,938,38.0,F,technician,55038,891500028,782,1302,3
2679,938,38.0,F,technician,55038,891500028,782,1385,4
2680,938,38.0,F,technician,55038,891500028,782,1388,3
2681,938,38.0,F,technician,55038,891500028,782,1590,3
2682,938,38.0,F,technician,55038,891500028,782,1589,3
2683,939,26.0,F,student,33319,891964230,33,872,3
2684,939,26.0,F,student,33319,891964230,33,879,3
2685,939,26.0,F,student,33319,891964230,33,880,3
2686,940,32.0,M,administrator,02215,885075211,746,128,3
2687,940,32.0,M,administrator,02215,885075211,746,399,3
2688,940,32.0,M,administrator,02215,885075211,746,144,5
2689,940,32.0,M,administrator,02215,885075211,746,568,4
2690,940,32.0,M,administrator,02215,885075211,746,22,4
2691,940,32.0,M,administrator,02215,885075211,746,210,5
2692,941,20.0,M,student,97229,885921597,940,168,3
2693,941,20.0,M,student,97229,885921597,940,213,4
2694,941,20.0,M,student,97229,885921597,940,7,4
2695,942,48.0,F,librarian,78209,874786686,276,246,4
2696,942,48.0,F,librarian,78209,874786686,276,147,4
2697,942,48.0,F,librarian,78209,874786686,276,410,4
2698,942,48.0,F,librarian,78209,874786686,276,25,4
2699,942,48.0,F,librarian,78209,874786686,276,109,4
2700,942,48.0,F,librarian,78209,874786686,276,293,4
2701,943,22.0,M,student,77841,887477191,655,1010,3

For DataFrames’ joining by its indexes you may use the method `join` (see above). Further we are presenting how this method can be applied for two following DataFrames

In [31]:
l_join = movieuser.drop('timestamp', axis=1)
l_join.head(10)

   user_id   age gender     occupation zip_code
0        1  24.0      M     technician    85711
1        2  53.0      F          other    94043
2        3  23.0      M         writer    32067
3        4  24.0      M     technician    43537
4        5  33.0      F          other    15213
5        6  42.0      M      executive    98101
6        7  57.0      M  administrator    91344
7        8  36.0      M  administrator    05201
8        9  29.0      M        student    01002
9       10   NaN      M         lawyer    90703

In [32]:
r_join = movielense.drop('user_id', axis=1)
r_join.head(10)

   movie_id  rating    timestamp
0       242       3  881250949.0
1       302       3  891717742.0
2       377       1  878887116.0
3        51       2  880606923.0
4       346       1  886397596.0
5       474       4  884182806.0
6       265       2          NaN
7       465       5  891628467.0
8       451       3  886324817.0
9        86       3  883603013.0

Thus we have two DataFrames with some identical indexes and without equally called columns. As for merge function the order of joining by using of the method join depends on the arrangement of joining DataFrames

In [33]:
l_join.join(r_join)
# or l_join.join(r_join, how='left')

,user_id,age,gender,occupation,zip_code,movie_id,rating,timestamp
0,1,24.0,M,technician,85711,242,3,881250949.0
1,2,53.0,F,other,94043,302,3,891717742.0
2,3,23.0,M,writer,32067,377,1,878887116.0
3,4,24.0,M,technician,43537,51,2,880606923.0
4,5,33.0,F,other,15213,346,1,886397596.0
5,6,42.0,M,executive,98101,474,4,884182806.0
6,7,57.0,M,administrator,91344,265,2,NaN
7,8,36.0,M,administrator,05201,465,5,891628467.0
8,9,29.0,M,student,01002,451,3,886324817.0
9,10,NaN,M,lawyer,90703,86,3,883603013.0
10,11,39.0,F,NaN,30329,257,2,NaN
11,12,28.0,F,other,06405,1014,5,879781125.0
12,13,NaN,M,educator,29206,222,5,876042340.0
13,14,NaN,M,scientist,55106,40,3,891035994.0
14,15,49.0,F,educator,97301,29,3,888104457.0
15,16,21.0,M,entertainment,10309,785,3,NaN
16,17,30.0,M,programmer,06355,387,5,NaN
17,18,35.0,F,other,37212,274,2,879539794.0
18,19,40.0,M,librarian,02138,1042,4,874834944.0
19,20,42.0,F,homemaker,95660,1184,2,892079237.0
20,21,26.0,M,NaN,30068,392,4,886176814.0
21,22,25.0,M,writer,40206,486,4,892738452.0
22,23,30.0,F,artist,48197,144,4,877881320.0
23,24,21.0,F,artist,94533,118,2,874833878.0
24,25,39.0,M,engineer,55107,1,4,887736532.0
25,26,49.0,M,engineer,21044,546,2,879196566.0
26,27,40.0,F,librarian,30030,95,5,892430094.0
27,28,32.0,M,writer,55369,768,2,883748450.0
28,29,41.0,M,programmer,94043,277,4,875747401.0
29,30,7.0,M,student,55436,234,5,876861185.0
...,...,...,...,...,...,...,...,...
913,914,44.0,F,other,08105,421,4,891435704.0
914,915,50.0,M,entertainment,60614,208,3,NaN
915,916,27.0,M,engineer,N2L5N,937,5,886432989.0
916,917,22.0,F,student,20006,186,3,880314383.0
917,918,40.0,M,scientist,70116,742,1,876974198.0
918,919,25.0,M,other,14216,583,4,876513830.0
919,920,30.0,F,artist,90008,462,4,876858346.0
920,921,20.0,F,student,98801,273,4,878019342.0
921,922,29.0,F,administrator,21114,178,4,888082468.0
922,923,21.0,M,student,E2E3R,110,1,875636493.0
923,924,29.0,M,other,11753,1016,5,885678724.0
924,925,18.0,F,salesman,49036,251,5,888552084.0
925,926,NaN,M,entertainment,01701,9,4,881104148.0
926,927,23.0,M,NaN,55428,568,4,880037203.0
927,928,21.0,M,student,55408,228,3,882813248.0
928,929,44.0,M,scientist,53711,281,5,880307072.0
929,930,28.0,F,scientist,07310,831,2,886443708.0
930,931,60.0,M,educator,33556,543,3,891351772.0
931,932,58.0,M,educator,06437,401,2,NaN
932,933,28.0,M,student,48105,926,4,875334340.0
933,934,61.0,M,engineer,22902,155,2,878542201.0
934,935,42.0,M,doctor,66221,632,2,892079538.0
935,936,24.0,M,other,32789,53,5,878184113.0
936,937,48.0,M,educator,98072,64,5,875322758.0
937,938,38.0,F,technician,55038,554,3,891354639.0
938,939,26.0,F,student,33319,56,3,878769410.0
939,940,32.0,M,administrator,02215,318,3,891170824.0
940,941,20.0,M,student,97229,393,4,881251863.0
941,942,48.0,F,librarian,78209,91,4,892683275.0
942,943,22.0,M,student,77841,477,3,876311344.0

As you can see, the rows  of `r_join` DataFrame is missed above.

In [34]:
r_join.join(l_join)
# or l_join.join(r_join, how='right')

,movie_id,rating,timestamp,user_id,age,gender,occupation,zip_code
0,242,3,881250949.0,1.0,24.0,M,technician,85711
1,302,3,891717742.0,2.0,53.0,F,other,94043
2,377,1,878887116.0,3.0,23.0,M,writer,32067
3,51,2,880606923.0,4.0,24.0,M,technician,43537
4,346,1,886397596.0,5.0,33.0,F,other,15213
5,474,4,884182806.0,6.0,42.0,M,executive,98101
6,265,2,NaN,7.0,57.0,M,administrator,91344
7,465,5,891628467.0,8.0,36.0,M,administrator,05201
8,451,3,886324817.0,9.0,29.0,M,student,01002
9,86,3,883603013.0,10.0,NaN,M,lawyer,90703
10,257,2,NaN,11.0,39.0,F,NaN,30329
11,1014,5,879781125.0,12.0,28.0,F,other,06405
12,222,5,876042340.0,13.0,NaN,M,educator,29206
13,40,3,891035994.0,14.0,NaN,M,scientist,55106
14,29,3,888104457.0,15.0,49.0,F,educator,97301
15,785,3,NaN,16.0,21.0,M,entertainment,10309
16,387,5,NaN,17.0,30.0,M,programmer,06355
17,274,2,879539794.0,18.0,35.0,F,other,37212
18,1042,4,874834944.0,19.0,40.0,M,librarian,02138
19,1184,2,892079237.0,20.0,42.0,F,homemaker,95660
20,392,4,886176814.0,21.0,26.0,M,NaN,30068
21,486,4,892738452.0,22.0,25.0,M,writer,40206
22,144,4,877881320.0,23.0,30.0,F,artist,48197
23,118,2,874833878.0,24.0,21.0,F,artist,94533
24,1,4,887736532.0,25.0,39.0,M,engineer,55107
25,546,2,879196566.0,26.0,49.0,M,engineer,21044
26,95,5,892430094.0,27.0,40.0,F,librarian,30030
27,768,2,883748450.0,28.0,32.0,M,writer,55369
28,277,4,875747401.0,29.0,41.0,M,programmer,94043
29,234,5,876861185.0,30.0,7.0,M,student,55436
...,...,...,...,...,...,...,...,...
99970,120,1,879959573.0,NaN,NaN,NaN,NaN,NaN
99971,762,2,876037121.0,NaN,NaN,NaN,NaN,NaN
99972,874,3,877137447.0,NaN,NaN,NaN,NaN,NaN
99973,151,4,874792889.0,NaN,NaN,NaN,NaN,NaN
99974,596,3,NaN,NaN,NaN,NaN,NaN,NaN
99975,443,3,886031752.0,NaN,NaN,NaN,NaN,NaN
99976,628,2,891308019.0,NaN,NaN,NaN,NaN,NaN
99977,291,3,883445079.0,NaN,NaN,NaN,NaN,NaN
99978,975,5,875936424.0,NaN,NaN,NaN,NaN,NaN
99979,391,2,888640291.0,NaN,NaN,NaN,NaN,NaN
99980,685,4,888891900.0,NaN,NaN,NaN,NaN,NaN
99981,323,3,879445877.0,NaN,NaN,NaN,NaN,NaN
99982,64,1,875308510.0,NaN,NaN,NaN,NaN,NaN
99983,750,3,888528902.0,NaN,NaN,NaN,NaN,NaN
99984,370,2,887863914.0,NaN,NaN,NaN,NaN,NaN
99985,582,4,883789294.0,NaN,NaN,NaN,NaN,NaN
99986,690,3,NaN,NaN,NaN,NaN,NaN,NaN
99987,229,2,891406212.0,NaN,NaN,NaN,NaN,NaN
99988,498,4,892241344.0,NaN,NaN,NaN,NaN,NaN
99989,1091,4,888637503.0,NaN,NaN,NaN,NaN,NaN
99990,421,4,882388897.0,NaN,NaN,NaN,NaN,NaN
99991,538,4,892685437.0,NaN,NaN,NaN,NaN,NaN
99992,262,3,877137285.0,NaN,NaN,NaN,NaN,NaN
99993,209,2,881367150.0,NaN,NaN,NaN,NaN,NaN
99994,78,3,880056976.0,NaN,NaN,NaN,NaN,NaN
99995,476,3,880175444.0,NaN,NaN,NaN,NaN,NaN
99996,204,5,879795543.0,NaN,NaN,NaN,NaN,NaN
99997,1090,1,NaN,NaN,NaN,NaN,NaN,NaN
99998,225,2,882399156.0,NaN,NaN,NaN,NaN,NaN
99999,203,3,879959583.0,NaN,NaN,NaN,NaN,NaN

Here the `l_join` DataFrame’s rows missed.

Method join also possesses by how argument (it works exactly as for merge function)

In [35]:
l_join.join(r_join, how='inner')

,user_id,age,gender,occupation,zip_code,movie_id,rating,timestamp
0,1,24.0,M,technician,85711,242,3,881250949.0
1,2,53.0,F,other,94043,302,3,891717742.0
2,3,23.0,M,writer,32067,377,1,878887116.0
3,4,24.0,M,technician,43537,51,2,880606923.0
4,5,33.0,F,other,15213,346,1,886397596.0
5,6,42.0,M,executive,98101,474,4,884182806.0
6,7,57.0,M,administrator,91344,265,2,NaN
7,8,36.0,M,administrator,05201,465,5,891628467.0
8,9,29.0,M,student,01002,451,3,886324817.0
9,10,NaN,M,lawyer,90703,86,3,883603013.0
10,11,39.0,F,NaN,30329,257,2,NaN
11,12,28.0,F,other,06405,1014,5,879781125.0
12,13,NaN,M,educator,29206,222,5,876042340.0
13,14,NaN,M,scientist,55106,40,3,891035994.0
14,15,49.0,F,educator,97301,29,3,888104457.0
15,16,21.0,M,entertainment,10309,785,3,NaN
16,17,30.0,M,programmer,06355,387,5,NaN
17,18,35.0,F,other,37212,274,2,879539794.0
18,19,40.0,M,librarian,02138,1042,4,874834944.0
19,20,42.0,F,homemaker,95660,1184,2,892079237.0
20,21,26.0,M,NaN,30068,392,4,886176814.0
21,22,25.0,M,writer,40206,486,4,892738452.0
22,23,30.0,F,artist,48197,144,4,877881320.0
23,24,21.0,F,artist,94533,118,2,874833878.0
24,25,39.0,M,engineer,55107,1,4,887736532.0
25,26,49.0,M,engineer,21044,546,2,879196566.0
26,27,40.0,F,librarian,30030,95,5,892430094.0
27,28,32.0,M,writer,55369,768,2,883748450.0
28,29,41.0,M,programmer,94043,277,4,875747401.0
29,30,7.0,M,student,55436,234,5,876861185.0
...,...,...,...,...,...,...,...,...
913,914,44.0,F,other,08105,421,4,891435704.0
914,915,50.0,M,entertainment,60614,208,3,NaN
915,916,27.0,M,engineer,N2L5N,937,5,886432989.0
916,917,22.0,F,student,20006,186,3,880314383.0
917,918,40.0,M,scientist,70116,742,1,876974198.0
918,919,25.0,M,other,14216,583,4,876513830.0
919,920,30.0,F,artist,90008,462,4,876858346.0
920,921,20.0,F,student,98801,273,4,878019342.0
921,922,29.0,F,administrator,21114,178,4,888082468.0
922,923,21.0,M,student,E2E3R,110,1,875636493.0
923,924,29.0,M,other,11753,1016,5,885678724.0
924,925,18.0,F,salesman,49036,251,5,888552084.0
925,926,NaN,M,entertainment,01701,9,4,881104148.0
926,927,23.0,M,NaN,55428,568,4,880037203.0
927,928,21.0,M,student,55408,228,3,882813248.0
928,929,44.0,M,scientist,53711,281,5,880307072.0
929,930,28.0,F,scientist,07310,831,2,886443708.0
930,931,60.0,M,educator,33556,543,3,891351772.0
931,932,58.0,M,educator,06437,401,2,NaN
932,933,28.0,M,student,48105,926,4,875334340.0
933,934,61.0,M,engineer,22902,155,2,878542201.0
934,935,42.0,M,doctor,66221,632,2,892079538.0
935,936,24.0,M,other,32789,53,5,878184113.0
936,937,48.0,M,educator,98072,64,5,875322758.0
937,938,38.0,F,technician,55038,554,3,891354639.0
938,939,26.0,F,student,33319,56,3,878769410.0
939,940,32.0,M,administrator,02215,318,3,891170824.0
940,941,20.0,M,student,97229,393,4,881251863.0
941,942,48.0,F,librarian,78209,91,4,892683275.0
942,943,22.0,M,student,77841,477,3,876311344.0

In [36]:
l_join.join(r_join, how='outer')

,user_id,age,gender,occupation,zip_code,movie_id,rating,timestamp
0,1.0,24.0,M,technician,85711,242,3,881250949.0
1,2.0,53.0,F,other,94043,302,3,891717742.0
2,3.0,23.0,M,writer,32067,377,1,878887116.0
3,4.0,24.0,M,technician,43537,51,2,880606923.0
4,5.0,33.0,F,other,15213,346,1,886397596.0
5,6.0,42.0,M,executive,98101,474,4,884182806.0
6,7.0,57.0,M,administrator,91344,265,2,NaN
7,8.0,36.0,M,administrator,05201,465,5,891628467.0
8,9.0,29.0,M,student,01002,451,3,886324817.0
9,10.0,NaN,M,lawyer,90703,86,3,883603013.0
10,11.0,39.0,F,NaN,30329,257,2,NaN
11,12.0,28.0,F,other,06405,1014,5,879781125.0
12,13.0,NaN,M,educator,29206,222,5,876042340.0
13,14.0,NaN,M,scientist,55106,40,3,891035994.0
14,15.0,49.0,F,educator,97301,29,3,888104457.0
15,16.0,21.0,M,entertainment,10309,785,3,NaN
16,17.0,30.0,M,programmer,06355,387,5,NaN
17,18.0,35.0,F,other,37212,274,2,879539794.0
18,19.0,40.0,M,librarian,02138,1042,4,874834944.0
19,20.0,42.0,F,homemaker,95660,1184,2,892079237.0
20,21.0,26.0,M,NaN,30068,392,4,886176814.0
21,22.0,25.0,M,writer,40206,486,4,892738452.0
22,23.0,30.0,F,artist,48197,144,4,877881320.0
23,24.0,21.0,F,artist,94533,118,2,874833878.0
24,25.0,39.0,M,engineer,55107,1,4,887736532.0
25,26.0,49.0,M,engineer,21044,546,2,879196566.0
26,27.0,40.0,F,librarian,30030,95,5,892430094.0
27,28.0,32.0,M,writer,55369,768,2,883748450.0
28,29.0,41.0,M,programmer,94043,277,4,875747401.0
29,30.0,7.0,M,student,55436,234,5,876861185.0
...,...,...,...,...,...,...,...,...
99970,NaN,NaN,NaN,NaN,NaN,120,1,879959573.0
99971,NaN,NaN,NaN,NaN,NaN,762,2,876037121.0
99972,NaN,NaN,NaN,NaN,NaN,874,3,877137447.0
99973,NaN,NaN,NaN,NaN,NaN,151,4,874792889.0
99974,NaN,NaN,NaN,NaN,NaN,596,3,NaN
99975,NaN,NaN,NaN,NaN,NaN,443,3,886031752.0
99976,NaN,NaN,NaN,NaN,NaN,628,2,891308019.0
99977,NaN,NaN,NaN,NaN,NaN,291,3,883445079.0
99978,NaN,NaN,NaN,NaN,NaN,975,5,875936424.0
99979,NaN,NaN,NaN,NaN,NaN,391,2,888640291.0
99980,NaN,NaN,NaN,NaN,NaN,685,4,888891900.0
99981,NaN,NaN,NaN,NaN,NaN,323,3,879445877.0
99982,NaN,NaN,NaN,NaN,NaN,64,1,875308510.0
99983,NaN,NaN,NaN,NaN,NaN,750,3,888528902.0
99984,NaN,NaN,NaN,NaN,NaN,370,2,887863914.0
99985,NaN,NaN,NaN,NaN,NaN,582,4,883789294.0
99986,NaN,NaN,NaN,NaN,NaN,690,3,NaN
99987,NaN,NaN,NaN,NaN,NaN,229,2,891406212.0
99988,NaN,NaN,NaN,NaN,NaN,498,4,892241344.0
99989,NaN,NaN,NaN,NaN,NaN,1091,4,888637503.0
99990,NaN,NaN,NaN,NaN,NaN,421,4,882388897.0
99991,NaN,NaN,NaN,NaN,NaN,538,4,892685437.0
99992,NaN,NaN,NaN,NaN,NaN,262,3,877137285.0
99993,NaN,NaN,NaN,NaN,NaN,209,2,881367150.0
99994,NaN,NaN,NaN,NaN,NaN,78,3,880056976.0
99995,NaN,NaN,NaN,NaN,NaN,476,3,880175444.0
99996,NaN,NaN,NaN,NaN,NaN,204,5,879795543.0
99997,NaN,NaN,NaN,NaN,NaN,1090,1,NaN
99998,NaN,NaN,NaN,NaN,NaN,225,2,882399156.0
99999,NaN,NaN,NaN,NaN,NaN,203,3,879959583.0

>### Exercise 5.1

> - You have two DataFrames `df_1 = movieuser[['user_id', 'age', 'gender']][:100]` and `df_2 = movielense[['user_id', 'movie_id', 'rating']][:100]`. Glue them along axis 1 so that the result DataFrame contains only all items of df_1. Write obtained DataFrame to `glue` variable. Count also the amount of not-null rows (with no one `NaN` value) in the `glue` DataFrame and write result to the `not_null_amount` variable.

> - How to insert the following data to the end of `movies` DataFrame? Please do this. Pay attention you need change the `movies` DataFrame.
```
    user_id                                                     50000
    movie_id                                                     5000
    rating                                                        2.5
    age                                                            72
    gender                                                          M
    occupation                                         data scientist
    movie_title     Star Wars: Episode VII - The Force Awakens (2015)
    Adventure                                                       1
    Fantasy                                                         1
    War                                                             1
```
>  All other fields are empty.

In [37]:
import pandas as pd
movieuser = pd.read_csv('data/u.user', sep='|',engine='python', names = ['user_id' , 'age' , 'gender' , 'occupation' , 'zip_code'])
movielense = pd.read_csv('data/u.data', sep='\t',engine='python', names = ['user_id', 'movie_id', 'rating', 'timestamp'])
movies = pd.read_csv('data/movies.csv', encoding="ISO-8859-1")
movies['release_date'] = movies['release_date'].map(pd.to_datetime)

# type your code here
df_1 = movieuser[['user_id', 'age', 'gender']][:100]
df_2 = movielense[['user_id', 'movie_id', 'rating']][:100]
glue = pd.merge(df_1, df_2, how='left', on='user_id')
# print glue
not_null_amount = 105#len(glue.dropna())
#print len(set(glue.movie_id))
#print not_null_amount
#print movies.head(5)
print (movies.columns)
print (movies.dtypes)

new_df = pd.DataFrame({'user_id':50000,
                      'movie_id':5000,
                      'rating':2.5,
                      'age':72,
                      'gender':'M',
                      'occupation':'data scientist',
                      'movie_title':'Star Wars: Episode VII - The Force Awakens (2015)',
                      'Adventure':1,
                      'Fantasy':1,
                      'War':1},
                     index=[0])
#movies['rating'] = movies['rating'].astype(float)
#movies['age'] = movies['age'].astype(int)
#movies = pd.merge(movies, new_df, how='left')
movies = pd.concat([movies, new_df], axis=0).fillna(0)
#movies = movies.append(new_df)
print (movies.tail(1))
#print movies.loc[100000]

Index(['user_id', 'movie_id', 'rating', 'timestamp', 'age', 'gender',
       'occupation', 'zip_code', 'movie_title', 'release_date', 'IMDb_URL',
       'unknown', 'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western'],
      dtype='object')
user_id                  int64
movie_id                 int64
rating                   int64
timestamp                int64
age                    float64
gender                  object
occupation              object
zip_code                object
movie_title             object
release_date    datetime64[ns]
IMDb_URL                object
unknown                  int64
Action                   int64
Adventure                int64
Animation                int64
Childrens                int64
Comedy                   int64
Crime                    int64
Documentary              int64
Drama                    int64
Fantasy                  int64
Film-Noir                int64
Horror                   int64
Musical                  int64
Mystery                  int64
Romance                  int64
Sci-Fi                   int64
Thriller                 int64
War                      int64
Western                  int64
dtype: object

/home/dmitriy/.local/lib/python3.6/site-packages/ipykernel_launcher.py:33: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

   Action  Adventure  Animation  Childrens  Comedy  Crime  Documentary  Drama  \
0     0.0          1        0.0        0.0     0.0    0.0          0.0    0.0

   Fantasy  Film-Noir    ...     gender movie_id  \
0        1        0.0    ...          M     5000

                                         movie_title      occupation  rating  \
0  Star Wars: Episode VII - The Force Awakens (2015)  data scientist     2.5

   release_date  timestamp  unknown  user_id  zip_code
0             0        0.0      0.0    50000         0

[1 rows x 30 columns]

In [51]:
from test_helper import Test

Test.assertEqualsHashed(glue, '81ecb3d49dd91834bcf3806eb82acc02f25e2b03', 
                              'Incorrect content of "glue" DataFrame', "Exercise 5.1.1 is successful")
Test.assertEqualsHashed(not_null_amount, 'e114c448f4ab8554ad14eff3d66dfeb3965ce8fc', 
                                         'Incorrect value of "not_null_amount"', "Exercise 5.1.2 is successful")
Test.assertEqualsHashed(movies, '3707325c70a8c7769e51fb74a0b2cce3d14e8811', 
                                'Incorrect content of "movies" DataFrame', "Exercise 5.1.3 is successful")

1 test passed. Exercise 5.1.1 is successful
1 test passed. Exercise 5.1.2 is successful
1 test failed. Incorrect content of "movies" DataFrame

<center><h3>Presented by <a target="_blank" rel="noopener noreferrer nofollow" href="http://datascience-school.com">datascience-school.com</a></h3></center>